<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title>{{ areaId != null ? 'Edit Area' : 'Create Area' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="col-lg-6">
            <form [formGroup]="areaForm" (ngSubmit)="onSave()">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Area Name</mat-label>
                    <input matInput formControlName="areaName" placeholder="Enter your area name" />
                    <mat-error *ngIf="areaForm.get('areaName')?.hasError('required')">
                        Area Name is required.
                    </mat-error>
                    <mat-error *ngIf="areaForm.get('areaName')?.hasError('minlength')">
                        Area Name must be at least 2 characters long.
                    </mat-error>
                </mat-form-field>
                <mat-checkbox appearance="outline" class="w-100" color="warn" formControlName="status">
                    Is Active
                </mat-checkbox>

                <button mat-flat-button color="warn" class="m-r-10" (click)="onCancel();">Cancel</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="areaForm.invalid">
                    Save
                </button>
            </form>
        </div>
    </mat-card-content>
</mat-card>