.option-list-btn {
    width: 20px;
}

.table-responsive td,
.table-responsive mat-cell {
    white-space: nowrap;
    padding: 5px !important;
}

.vat-bg {
    background-color: lightgreen !important;
}

.withdrawn-ac {
    background-color: lightblue !important;
}

.vat-withdrawan-ac {
    background-color: lightblue !important;
    color: white;
    font-weight: bold;
}

.hold-bg {
    background-color: lightsalmon !important;
}

.advance-filter-link {
    margin-top: 1em;
    position: absolute;
    color: blue;
    cursor: pointer;
    text-decoration:underline !important;
    
}