.option-list-btn {
    width: 20px;
}

.table-responsive td,
.table-responsive mat-cell {
    white-space: nowrap;
    padding: 5px !important;
}

.vat-bg {
    background-color: lightgreen !important;
}


.hold-bg {
    background-color: salmon !important;
}

.advance-filter-link {
    margin-top: 1em;
    color: blue;
    cursor: pointer;
    text-decoration:underline !important;
    
}