.kpi-table{
    td {
        text-align: center !important;
        font-weight:bold;
    }
}

.bonus{
    color: green;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}

.info-msg{
    
    display: inline-flex;
}