<div class="col-lg-12 info-msg m-t-10">A bonus of <h3 class="bonus">£ {{bonus}}</h3> will be awarded upon achieving 100% of the target in both sims & accessories.</div>
<mat-card class="cardWithShadow theme-card">
  <mat-card-header class="d-flex">
    <mat-card-title>KPI Sim Targets </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- <div class="col-lg-12 loading-indicator" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div> -->

    <div *ngIf="!isLoading && activationList?.length>0" class="table-responsive table-scroll example-container">
      <table class="table table-bordered nowrap w-100 custom-table kpi-table mat-table">
        <tbody>
          <tr style="background-color: #FF6347;">
            <td>Name</td>
            <td> Previous Act.</td>
            <td> Current Act.</td>
            <td> KPI Target</td>
            <td>(%)</td>
            <td>Act</td>
            <td>Per Sim</td>
            <td>Diff</td>
            <td>Comm.</td>
          </tr>
          <tr>
            <td rowspan="4">
              {{activationList[0].name }}
            </td>
            <td rowspan="4">
              {{activationList[0].prevMonth }}
            </td>
            <td rowspan="4">
              {{activationList[0].currentMonth }}
            </td>
            <td rowspan="4">
              {{activationList[0].target }}
            </td>
            <td style="background-color:yellow;"> {{activationList[0].percentage }}
            </td>
            <td style="background-color:yellow;"> {{activationList[0].act }}
            </td>
            <td style="background-color:yellow;"> £{{activationList[0].rate | number : "1.2-2" }}
            </td>
            <td style="background-color:yellow;">
              {{ (activationList[0].act - activationList[0].currentMonth) > 0 ? '' : '+' }}
              {{ (activationList[0].currentMonth - activationList[0].act) }}
            </td>
            <td style="background-color:yellow;"> £{{activationList[0].total | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td style="background-color:lightgreen;"> {{activationList[1].percentage }}
            </td>
            <td style="background-color:lightgreen;"> {{activationList[1].act }}
            </td>
            <td style="background-color:lightgreen;"> £{{activationList[1].rate | number : "1.2-2" }}
            </td>
            <td style="background-color:lightgreen;">
              {{ (activationList[1].act - activationList[0].currentMonth) > 0 ? '': '+' }}
              {{ (activationList[0].currentMonth - activationList[1].act) }}
            </td>
            <td style="background-color:lightgreen;">£{{activationList[1].total | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td style="background-color:dodgerblue;"> {{activationList[2].percentage }}
            </td>
            <td style="background-color:dodgerblue;"> {{activationList[2].act }}
            </td>
            <td style="background-color:dodgerblue;"> £{{activationList[2].rate | number : "1.2-2" }}
            </td>
            <td style="background-color:dodgerblue;">
              {{ (activationList[2].act - activationList[0].currentMonth) > 0 ? '': '+' }}
              {{ (activationList[0].currentMonth - activationList[2].act) }}
            </td>
            <td style="background-color:dodgerblue;"> £{{activationList[2].total | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td style="background-color:salmon;"> {{activationList[3].percentage }}
            </td>
            <td style="background-color:salmon;"> {{activationList[3].act }}
            </td>
            <td style="background-color:salmon;"> £{{activationList[3].rate | number : "1.2-2" }}
            </td>
            <td style="background-color:salmon;">
              {{ (activationList[3].act - activationList[0].currentMonth) > 0 ? '': '+' }}
              {{ (activationList[0].currentMonth - activationList[3].act) }}
            </td>
            <td style="background-color:salmon;"> £{{activationList[3].total | number : "1.2-2"}}
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow theme-card" *ngIf="!isLoading && accessoriesList?.length > 0">
  <mat-card-header class="d-flex">
    <mat-card-title>KPI Accessories Targets </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- <div class="col-lg-12 loading-indicator" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div> -->

    <div class="table-responsive table-scroll example-container">
      <table class="table table-bordered nowrap w-100 custom-table kpi-table mat-table">
        <tbody>
          <tr style="background-color: #FF6347;">
            <td>Name</td>
            <td>Previous Month</td>
            <td>Current Month</td>
            <td>KPI Target</td>
            <td>(%)</td>
            <td>Acc.</td>
            <td>Rate</td>
            <td>Diff</td>
            <td>Comm.</td>
          </tr>
          <tr>
            <td rowspan="4">
              {{accessoriesList[0].name }}
            </td>
            <td rowspan="4">
              £{{accessoriesList[0].prevMonth | number : "1.2-2" }}
            </td>
            <td rowspan="4">
              £{{accessoriesList[0].currentMonth | number : "1.2-2" }}
            </td>
            <td rowspan="4">
              £{{accessoriesList[0].target | number : "1.2-2" }}
            </td>
            <td style="background-color:yellow;"> {{accessoriesList[0].percentage }}
            </td>
            <td style="background-color:yellow;"> £{{accessoriesList[0].acc | number : "1.2-2" }}
            </td>
            <td style="background-color:yellow;"> {{accessoriesList[0].rate }}%
            </td>
            <td style="background-color:yellow;">
              £{{ accessoriesList[0].diff | number : "1.2-2" }}
            </td>
            <td style="background-color:yellow;"> £{{accessoriesList[0].total | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td style="background-color:lightgreen;"> {{accessoriesList[1].percentage }}
            </td>
            <td style="background-color:lightgreen;"> £{{accessoriesList[1].acc | number : "1.2-2" }}
            </td>
            <td style="background-color:lightgreen;"> {{accessoriesList[1].rate }}%
            </td>
            <td style="background-color:lightgreen;">
              £{{ accessoriesList[1].diff | number : "1.2-2" }}
            </td>
            <td style="background-color:lightgreen;">£{{accessoriesList[1].total | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td style="background-color:dodgerblue;"> {{accessoriesList[2].percentage }}
            </td>
            <td style="background-color:dodgerblue;"> £{{accessoriesList[2].acc | number : "1.2-2" }}
            </td>
            <td style="background-color:dodgerblue;"> {{accessoriesList[2].rate }}%
            </td>
            <td style="background-color:dodgerblue;">
              £{{ accessoriesList[2].diff | number : "1.2-2" }}
            </td>
            <td style="background-color:dodgerblue;"> £{{accessoriesList[2].total | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td style="background-color:salmon;"> {{accessoriesList[3].percentage }}
            </td>
            <td style="background-color:salmon;"> £{{accessoriesList[3].acc | number : "1.2-2" }}
            </td>
            <td style="background-color:salmon;"> {{accessoriesList[3].rate }}%
            </td>
            <td style="background-color:salmon;">
              £{{ accessoriesList[3].diff | number : "1.2-2" }}
            </td>
            <td style="background-color:salmon;"> £{{accessoriesList[3].total | number : "1.2-2"}}
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </mat-card-content>
</mat-card>