<div class="page-title">
    <h1>Sales</h1>
    <span class="page-title__info"></span>
    <mat-card class="cardWithShadow theme-card">
        <mat-card-content>

            <div class="row">
                <!-- Basic Filters -->


                <mat-form-field appearance="outline" class="col-lg-3 col-xs-12">
                    <mat-label>Order Number</mat-label>
                    <input matInput placeholder="OrderId" [(ngModel)]="orderNumberSearch" autocomplete="off"
                        (change)="onFilter()" (keyup.enter)="onFilter()">
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-3 col-xs-12">
                    <mat-label>Track Number</mat-label>
                    <input matInput placeholder="Track Number" [(ngModel)]="trackNumberSearch" autocomplete="off"
                        (change)="onFilter()" (keyup.enter)="onFilter()">
                </mat-form-field>

                <!-- Buttons -->
                <div class="row col-lg-6 col-xs-12 space-between-buttons m-b-10">
                    <button mat-flat-button class="bg-primary text-white" (click)="onFilter()">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button>
                    <button mat-flat-button class="bg-error text-white" (mousedown)="onClear()">
                        <mat-icon>clear_all</mat-icon> Clear
                    </button>
                     <button mat-flat-button class="bg-error text-white" (click)="createNewOrder()">
                        <mat-icon>add</mat-icon> Create Order
                    </button>
                </div>
            </div>


            <div *ngIf="orderList.length > 0" class="table-responsive table-max-scroll example-container">
                <table mat-table [dataSource]="orderList" class="w-100 custom-table">
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                        </th>
                        <td mat-cell *matCellDef="let element" class="action-link option-list-btn">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="viewOrder(element.orderId)">
                                    <mat-icon>visibility</mat-icon>
                                    Order Details
                                </button>
                                <button mat-menu-item (click)="downloadNonVAT(element.orderId)">
                                    <mat-icon>description</mat-icon>Delivery Note
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="orderId">
                        <th mat-header-cell *matHeaderCellDef>OrderID</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.orderId }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>Date</th>
                        <td mat-cell *matCellDef="let element" class="no-wrap-column">
                            <p>{{ element.createdDate | date: 'dd/MM/yyyy HH:mm' }} / </p>
                            <p> {{ element.modifiedDate | date: 'dd/MM/yyyy HH:mm' }}</p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="user">
                        <th mat-header-cell *matHeaderCellDef>User</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.userName }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="shop">
                        <th mat-header-cell *matHeaderCellDef>Shop</th>
                        <td mat-cell *matCellDef="let element" class="no-wrap-column">
                            {{element.oldShopId}} - {{ element.shopName }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="expected">
                        <th mat-header-cell *matHeaderCellDef>Expected</th>
                        <td mat-cell *matCellDef="let element" class="text-right">
                            £ {{ (element.isVAT == 1 ? element.totalWithVATAmount : element.totalWithOutVATAmount) |
                            number:
                            '1.2-2' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="collected">
                        <th mat-header-cell *matHeaderCellDef>Collected</th>
                        <td mat-cell *matCellDef="let element" class="text-right">
                            £ {{element.collectedAmount | number: '1.2-2' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Status</th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            {{ element.orderStatus }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="paymentMethod">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Payment</th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            {{ element.paymentMethod }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="courier">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Courier</th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            {{ element.courier}} - {{element.trackingNumber }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="row.colourName"></tr>
                </table>
            </div>
            <div *ngIf="orderList.length > 0">
                <mat-paginator #paginator [length]="totalCount" [pageIndex]="pageNo" [pageSize]="pageSize"
                    [pageSizeOptions]="pageOptions" [showFirstLastButtons]="true" (page)="handlePageEvent($event)">
                </mat-paginator>
            </div>
            <div class="zero-records p-b-8" *ngIf="orderList?.length == 0"><img
                    src="/assets/images/landingpage/background/no-records.svg" />
                <span>No records found</span>
            </div>
        </mat-card-content>
    </mat-card>
</div>