<mat-toolbar class="topbar">
    <div class="d-flex align-items-center">
        <div class="branding" *ngIf="!isMobile">
            <a href="/home">
                <img src="./assets/images/logos/logo.png" class="align-middle m-2 leap-logo" alt="logo" />
            </a>
        </div>
        <button mat-icon-button (click)="toggleSidebar()" *ngIf="isMobile">
            <mat-icon>menu_open</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleSidebar()" class="hamburg" *ngIf="!isMobile">
            <mat-icon>menu_open</mat-icon>
        </button>
    </div>
    <div class="end-sction d-flex align-items-center">
        <span class="flex-1-auto"></span>
        <button mat-button class="flex-row-button icon-custom" (click)="viewCart()">
            <mat-icon>shopping_cart</mat-icon>
            <span *ngIf="cartItems.length> 0" class="cart-items-count">{{ cartItems.length }}</span>
        </button>

        <button mat-flat-button color="primary" class="m-r-10" (click)="viewCart()">
            Checkout
        </button>

        <button mat-flat-button color="primary" class="m-r-10" *ngIf="!isMobile" (click)="viewCart()">
            Cart Amount (£{{ subTotal | number: '1.2-2' }})
        </button>

        <button mat-flat-button color="primary" class="m-r-10" *ngIf="!isMobile && commissionAmount>0"
            (click)="viewCart()">
            Commission Amount (£{{ commissionAmount | number: '1.2-2'}})
        </button>
    </div>

</mat-toolbar>


<mat-sidenav-container class="mainWrapper">
    <!-- Sidebar Navigation -->
    <mat-sidenav #sidenav mode="side" opened class="sidebarNav">
        <h3 class="sidebar-title d-flex justify-content-between align-items-center">
            <span>Categories</span>
            <button class="sidebar-title__close-btn" mat-icon-button (click)="toggleSidebar()" *ngIf="isMobile">
                <mat-icon>close</mat-icon>
            </button>
        </h3>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let item of categories">
                <!-- Main Category -->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ item.categoryName }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Subcategories -->
                <div *ngIf="item.subCategories.length > 0">
                    <div class="subcategory" *ngFor="let sub of item.subCategories">

                        <a mat-button (click)="loadProducts(sub.categoryId,sub.subCategoryId)">
                            <mat-icon>arrow_right</mat-icon>
                            {{ sub.subCategoryName }}
                        </a>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="contentWrapper">
        <div *ngIf="isMainView">
            <!-- Categories -->
            <div class="row" *ngIf="isDisplayCatgories">
                <div class="col-sm-6 col-lg-3" *ngFor="let item of categories">
                    <mat-card class="cardWithShadow productcard overflow-hidden" (click)="loadSubCategories(item)">
                        <img src="{{ item.image }}" alt="imgSrc" class="w-100 product-image" mat-card-image />
                        <h3 class="product-title">
                            {{ item.categoryName }}
                        </h3>
                    </mat-card>
                </div>
            </div>
            <!-- Sub-Categories -->
            <div class="row" *ngIf="isDisplaySubCatgories">
                <div class="col-sm-6 col-lg-3" *ngFor="let item of subCategories">
                    <mat-card class="cardWithShadow productcard overflow-hidden"
                        (click)="loadProducts(item.categoryId, item.subCategoryId)">
                        <img src="{{ item.image }}" alt="imgSrc" class="w-100 product-image" mat-card-image />
                        <h3 class="product-title">
                            {{ item.subCategoryName }}
                        </h3>
                    </mat-card>
                </div>
            </div>
            <!-- Products -->
            <div class="row" *ngIf="isDisplayProducts">
                <div class="col-sm-6 col-lg-3" *ngFor="let item of products">
                    <mat-card class="cardWithShadow productcard overflow-hidden">
                        <img src="{{ item.productImage }}" alt="imgSrc" class="w-100 product-image" mat-card-image
                            (click)="viewProductDetails(item)" />
                        <h3 class="product-title text-center" title="{{item.productName}}"> {{
                            item.productName }}
                        </h3>
                        <div class="w-100 d-flex justify-content-between">
                            <p class="product-code"> {{ item.productCode }}</p>
                            <p class="sale-price text-right">£{{ item.salePrice | number: '1.2-2' }}</p>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex quantity-container">
                                <button mat-icon-button color="primary" (click)="decreaseQuantity(item)">
                                    <mat-icon>remove</mat-icon>
                                </button>
                                <input matInput type="number" class="item-qty" [(ngModel)]="item.qty">
                                <button mat-icon-button color="primary" (click)="increaseQuantity(item)">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" matTooltip="Add to Cart"
                                    (click)="addToCart(item)">
                                    <mat-icon>shopping_cart</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

        <div *ngIf="isCartView">
            <h1>Cart Items</h1>
            <mat-card class="m-t-12" *ngIf="cartItems.length > 0">
                <div class="table-responsive table-scroll example-container">
                    <table mat-table [dataSource]="cartItems" class="w-100 custom-table">
                        <ng-container matColumnDef="productName">
                            <th mat-header-cell *matHeaderCellDef>Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.productName }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="productCode">
                            <th mat-header-cell *matHeaderCellDef>Code</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.productCode }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="quantity" class="text-center">
                            <th mat-header-cell *matHeaderCellDef>Quantity</th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <input type="number" matInput #quantityInput class="item-qty" value="{{ element.qty }}"
                                    (change)="updateCartItemQuantity(element,quantityInput.value)" />
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="salePrice">
                            <th mat-header-cell *matHeaderCellDef>Price</th>
                            <td mat-cell *matCellDef="let element">
                                £{{ element.salePrice | number: '1.2-2' }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>Total</td>
                        </ng-container>

                        <ng-container matColumnDef="netAmount">
                            <th mat-header-cell *matHeaderCellDef>Net</th>
                            <td mat-cell *matCellDef="let element">
                                £{{ element.netAmount | number: '1.2-2' }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef> £{{ netTotal | number: '1.2-2'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="vatAmount">
                            <th mat-header-cell *matHeaderCellDef>VAT</th>
                            <td mat-cell *matCellDef="let element">
                                £{{ element.vatAmount | number: '1.2-2' }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef> £{{ totalVatAmount | number: '1.2-2'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef>Total</th>
                            <td mat-cell *matCellDef="let element">
                                £{{ (element.netAmount + element.vatAmount) | number: '1.2-2' }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef> £{{ subTotal | number: '1.2-2'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element" class="action-link">
                                <a class="m-r-10 cursor-pointer" (click)="removeCartItem(element)">
                                    <mat-icon>delete</mat-icon>
                                </a>
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                    </table>
                </div>
            </mat-card>

            <div class="order-summary-card mat-elevation-z2">
                <h2 class="summary-title">Order Summary</h2>

                <div class="summary-row">
                    <div class="label">Net total:</div>
                    <div class="value">£{{ netTotal | number : "1.2-2" }}</div>
                </div>
                <div class="summary-row">
                    <div class="label">VAT:</div>
                    <div class="value">£{{ totalVatAmount | number : "1.2-2" }}</div>
                </div>
                <div class="summary-row">
                    <div class="label">Delivery Charges:</div>
                    <div class="value">£{{ deliveryCharges | number : "1.2-2" }}</div>
                </div>
                <div class="summary-row" *ngIf="isAdmin">
                    <div class="label">Discount Amount:</div>
                    <div class="value">£{{ discountAmount | number : "1.2-2" }}</div>
                </div>

                <div class="summary-row">
                    <div class="label">Discount (%):</div>
                    <div class="value">
                        <input type="number" matInput class="item-qty" [(ngModel)]="discountPercentage"
                            (change)="updateCalculations()">
                    </div>
                </div>
                <div class="summary-row" *ngIf="commissionAmount > 0 && requestType == 'COD'">
                    <div class="label"></div>
                    <div class="value">
                        <mat-form-field appearance="outline">
                            <mat-label>Wallet Commission</mat-label>
                            <mat-select placeholder="Select Commission Cheque"
                                (selectionChange)="onChequeNumberChange($event)">
                                <mat-option [value]="null">-Select-</mat-option>
                                <mat-option *ngFor="let item of availableCommissionChequeNumbers" [value]="item.id">
                                    <span>{{item.id}} - £{{ item.name }}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="summary-row">
                    <div class="label"></div>
                    <div class="value">
                        <mat-form-field appearance="outline" *ngIf="requestType == 'COD'">
                            <mat-label>Payment Method</mat-label>
                            <mat-select [(ngModel)]="selectedPaymentMethodId">
                                <mat-option [value]="null">All</mat-option>
                                <mat-option *ngFor="let subCategory of paymentMethodLookup" [value]="subCategory.id">
                                    <span>{{subCategory.name}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="summary-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Shipping Address</mat-label>
                        <textarea matInput [(ngModel)]="shippingAddress" [disabled]="!isEditAddress"
                            placeholder="Update your address here" cols="10"></textarea>
                    </mat-form-field>
                    <div class="d-flex float-right">
                        <a class="m-r-10 cursor-pointer" (click)="editAddress()">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="m-r-10 cursor-pointer" (click)="cancelAddress()">
                            <mat-icon>cancel</mat-icon>
                        </a>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="summary-row total-row">
                    <div class="label">Grand Total:</div>
                    <div class="value total">£{{ grandTotal | number : "1.2-2" }}</div>
                </div>

                <div class="button-group">
                    <button mat-stroked-button color="primary" (click)="continueShopping()">Continue Shopping</button>
                    <button mat-flat-button color="warn" (click)="createOrder()">Create Order</button>
                </div>
            </div>
        </div>

        <div *ngIf="isDisplayProductDetails">
            <app-product-detail [selectedProduct]="selectedProduct"
                (notifyParent)="addToCart($event)"></app-product-detail>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>