<div class="page-title">
  <h1>On-Field</h1>
  <span class="page-title__info"></span>
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content>
      <div class="row justify-content-between">
        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>Area</mat-label>
            <mat-select [(ngModel)]="selectedAreaId" placeholder="Select Area" (selectionChange)="areaChange()">
              <ngx-mat-select-search [formControl]="areaFilterCtrl" placeholderLabel="Search here..."
                noEntriesFoundLabel="No matching found">
              </ngx-mat-select-search>
              <mat-option [value]=null>All</mat-option>
              <mat-option *ngFor="let item of filteredAreas" [value]="item.id">
                <span>{{ item.oldId }} - {{ item.name }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>Shop</mat-label>
            <mat-select [(ngModel)]="selectedShopId" placeholder="Select Shop" (selectionChange)="shopChange()">
              <ngx-mat-select-search [formControl]="shopFilterCtrl" placeholderLabel="Search here..."
                noEntriesFoundLabel="No matching found">
              </ngx-mat-select-search>
              <mat-option [value]=null>All</mat-option>
              <mat-option *ngFor="let item of filteredShops" [value]="item.id">
                <span>{{ item.oldId }} - {{ item.name }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <button mat-flat-button color="primary" (click)="onSubmit()">
            Submit
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onActionClicked('EditShop')">
              <mat-icon>edit</mat-icon>
              Edit Shop
            </button>
            <button mat-menu-item (click)="onActionClicked('ScanSims')">
              <mat-icon>arrow_right</mat-icon>
              Allocate Sims
            </button>
            <button mat-menu-item (click)="onActionClicked('ShopVisit')">
              <mat-icon>arrow_right</mat-icon>
              Shop Visit
            </button>
            <button mat-menu-item (click)="openShopVisitHistoryDialog()">
              <mat-icon>arrow_right</mat-icon>
              Shop Visit History
            </button>
            <button mat-menu-item (click)="openShopAgreementHistoryDialog()">
              <mat-icon>arrow_right</mat-icon>
              Agreement History
            </button>
            <button mat-menu-item (click)="onOrderHistory('OrderList', 'no')">
              <mat-icon>arrow_right</mat-icon>
              Order History
            </button>
             <button mat-menu-item (click)="onOrderHistory('OrderList', 'yes')">
              <mat-icon>arrow_right</mat-icon>
              VAT Invoices
            </button>
            <button mat-menu-item (click)="openShopCommissionChequeListModel()">
              <mat-icon>arrow_right</mat-icon>
              Cheque History
            </button>
            <button mat-menu-item (click)="onShopPortal()">
              <mat-icon>arrow_right</mat-icon>
              Shop Portal
            </button>
            <button mat-menu-item (click)="openShoppingPage('COD')">
              <mat-icon>open_in_new</mat-icon>
              Create Order
            </button>
          </mat-menu>
        </div>
      </div>


      <div class="row">
        <div *ngIf="outstandingBalanceAmount != null" class="col-lg-9 col-xs-12 text-left">
          <h4>Accessories outstanding balance : &nbsp; <label style="color: red;">£{{ outstandingBalanceAmount | number
              : "1.2-2" }}</label></h4>
        </div>
        <mat-form-field appearance="outline" class="col-lg-3 col-xs-12 w-100" *ngIf="isAdmin">
          <mat-label>View History</mat-label>
          <mat-select [(ngModel)]="selectedYear" (selectionChange)="onSubmit()">
            <mat-option [value]="0">Recent</mat-option>
            <mat-option *ngFor="let year of yearList" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="selectedShopId > 0" [hidden]="!isMainSection">
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Daily Activations">
          <ng-template matTabContent>
            <div class="mat-body-1 rounded m-t-12">
              <app-on-field-given-vs-activations [selectedShopId]="selectedShopId" [refreshValue]="refreshCounter"
                [selectedYear]="selectedYear"></app-on-field-given-vs-activations>
              <app-on-field-activations [selectedShopId]="selectedShopId" [refreshValue]="refreshCounter"
                [selectedYear]="selectedYear"></app-on-field-activations>
              <app-on-field-instant-activations [selectedShopId]="selectedShopId" [refreshValue]="refreshCounter"
                [selectedYear]="selectedYear"></app-on-field-instant-activations>
              <app-on-field-spam-activations [selectedShopId]="selectedShopId" [refreshValue]="refreshCounter"
                [selectedYear]="selectedYear"></app-on-field-spam-activations>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Commissions">
          <ng-template matTabContent>
            <div class="mat-body-1 rounded m-t-12">
              <app-on-field-commissions [selectedShopId]="selectedShopId" [refreshValue]="refreshCounter"
                [selectedYear]="selectedYear"></app-on-field-commissions>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Bonus" *ngIf="isAdmin">
          <ng-template matTabContent>
            <div class="mat-body-1 rounded m-t-12">
              <app-on-field-bonus-details [selectedShopId]="selectedShopId" [refreshValue]="refreshCounter"
                [selectedYear]="selectedYear"></app-on-field-bonus-details>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Wallet">
          <ng-template matTabContent>
            <div class="mat-body-1 rounded m-t-12">
              <app-on-field-shop-wallet [selectedShopId]="selectedShopId"
                [refreshValue]="refreshCounter"></app-on-field-shop-wallet>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Conversions">
          <ng-template matTabContent>
            <div class="mat-body-1 rounded m-t-12">
              <app-on-field-sim-conversions [selectedShopId]="selectedShopId" [refreshValue]="refreshCounter"
                [selectedYear]="selectedYear"></app-on-field-sim-conversions>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>


<div *ngIf="selectedShopId > 0 && !isMainSection">
  <div class="row col-lg-12">
    <a mat-flat-button class="m-b-10" color="primary" (click)="displayMainSection()">
      Back
    </a>
  </div>
  <div *ngIf="action == 'ScanSims'">
    <app-on-field-scan-sims [shopAddressDetails]="shopAddressDetails" [geoLocation]="geoLocation"
      [refreshValue]="refreshCounter" (notifyParent)="handleChildBackEvent($event)"></app-on-field-scan-sims>
  </div>
  <div *ngIf="action == 'EditShop'">
    <app-shop-editor [selectedShopId]="selectedShopId" [refreshValue]="refreshCounter"
      (notifyParent)="handleChildBackEvent($event)"></app-shop-editor>
  </div>
  <div *ngIf="action == 'ShopVisit'">
    <app-on-field-shop-visit [shopAddressDetails]="shopAddressDetails" [refreshValue]="refreshCounter"
      [geoLocation]="geoLocation" (notifyParent)="handleChildBackEvent($event)"></app-on-field-shop-visit>
  </div>
  <div *ngIf="action == 'OrderList'">
    <app-on-field-shop-order-list [selectedShopId]="selectedShopId" [refreshValue]="refreshCounter"
      (notifyParent)="handleChildBackEvent($event)" [canSendVAT]="canSendVAT"></app-on-field-shop-order-list>
  </div>
</div>