<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>Dashboard</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="col-lg-12 loading-indicator" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col-lg-3">
        <mat-label>Choose a Month</mat-label>
        <input matInput [(ngModel)]="selectedMonth" [matDatepicker]="monthPicker" placeholder="Choose a Month" />
        <mat-datepicker-toggle matIconSuffix [for]="monthPicker"></mat-datepicker-toggle>
        <mat-datepicker #monthPicker startView="year" (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, monthPicker)" panelClass="month-picker">
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-3" *ngIf="isAdmin">
        <mat-label>Manager</mat-label>
        <mat-select [(ngModel)]="selectedManagerId" placeholder="Select Manager" (selectionChange)="onManagerChanged()">
          <mat-option [value]="0">All</mat-option>
          <mat-option *ngFor="let item of managerLookup" [value]="item.id">
            <span>{{ item.id }} - {{ item.name }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-3" *ngIf="isAdmin || isManager">
        <mat-label>User</mat-label>
        <mat-select [(ngModel)]="selectedUserId" placeholder="Select User">
          <mat-option [value]="0">All</mat-option>
          <mat-option *ngFor="let item of userLookup" [value]="item.id">
            <span>{{ item.id }} - {{ item.name }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="col-lg-3 d-flex align-items-center">
        <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
      </div>
    </div>
    <p  class="info-msg">** Accounts are calculated from 26th to 25th **</p>
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-12">
        <mat-card class="shadow-none text-center bg-light-primary  shadow-none link">
          <mat-card-content class="p-32">
            <img src="/assets/images/svgs/account-balance.svg" alt="users" width="40" class="rounded-circle" />
            <h4 class="mat-subtitle-2 f-w-600 text-primary m-t-8">
              Assigned
            </h4>
            <h4 class="m-t-4 mat-subtitle-1 f-w-600 text-primary m-t-8">
              {{ assignedCount }}
            </h4>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-3 col-sm-3 col-12">
        <mat-card class="shadow-none text-center bg-light-primary  shadow-none link">
          <mat-card-content class="p-32">
            <img src="/assets/images/svgs/account-balance.svg" alt="users" width="40" class="rounded-circle" />
            <h4 class="mat-subtitle-2 f-w-600 text-primary m-t-8">
              Given To Shop
            </h4>
            <h4 class="m-t-4 mat-subtitle-1 f-w-600 text-primary m-t-8">
              {{ givenCount }}
            </h4>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-3 col-sm-3 col-12">
        <mat-card class="shadow-none text-center bg-light-primary  shadow-none link">
          <mat-card-content class="p-32">
            <img src="/assets/images/svgs/account-balance.svg" alt="users" width="40" class="rounded-circle" />
            <h4 class="mat-subtitle-2 f-w-600 text-primary m-t-8">
              Activations
            </h4>
            <h4 class="m-t-4 mat-subtitle-1 f-w-600 text-primary m-t-8">
              {{ activationCount }}
            </h4>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-3 col-sm-3 col-12">
        <mat-card class="shadow-none text-center bg-light-primary  shadow-none link">
          <mat-card-content class="p-32">
            <img src="/assets/images/svgs/account-balance.svg" alt="users" width="40" class="rounded-circle" />
            <h4 class="mat-subtitle-2 f-w-600 text-primary m-t-8">
              Instant Activations
            </h4>
            <h4 class="m-t-4 mat-subtitle-1 f-w-600 text-primary m-t-8">
              {{ instantActivationCount }}
            </h4>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<app-network-activations [selectedDate]="selectedMonth" [filterId]="filterId" [refreshCounter]="refreshCounter"
  [filterType]="filterType"></app-network-activations>

<div *ngIf="dashboardViewMode == 'Admin' || dashboardViewMode == 'Manager' ">
  <app-agent-activations [selectedDate]="selectedMonth" [filterId]="filterId" [refreshCounter]="refreshCounter"
    [filterType]="filterType"></app-agent-activations>
</div>

<div *ngIf="dashboardViewMode == 'Agent'">
  <app-area-activations [selectedDate]="selectedMonth" [filterId]="filterId" [refreshCounter]="refreshCounter"
    [filterType]="filterType"></app-area-activations>
  <app-kpi-target-details [selectedDate]="selectedMonth" [filterId]="filterId" [refreshCounter]="refreshCounter"
    [filterType]="filterType"></app-kpi-target-details>
</div>


<!-- <app-kpi-target-info [selectedDate]="selectedDate"></app-kpi-target-info>
  <app-sim-allocation-info [selectedDate]="selectedDate"> </app-sim-allocation-info>
  <app-network-activations [selectedDate]="selectedDate"></app-network-activations>
-->