.green-cell {
  
  background-color: #1b5e20;
  color: white;
  font-weight: 600;
}

.yellow-cell {
  
  background-color: #f57f17;
  color: white;
  font-weight: 600;
}

.red-cell {
  
  background-color: #b71c1c;
  color: white;
  font-weight: 600;
}