.detail-container {
  max-height: 60vh;
  overflow: auto;
}

.detail-table {
  width: 100%;
  border-collapse: collapse;
}

.detail-table .key {
  font-weight: 600;
  padding: 8px 12px;
  width: 40%;
  vertical-align: top;
}

.detail-table .value {
  padding: 8px 12px;
}

.green-cell {

  background-color: #DFF6DD;
  color: 1B5E20 !important;
  ;
  font-weight: 600;
}

.yellow-cell {

  background-color: #FFF8CC !important;
  color: #7A5A00 !important;
  font-weight: 600;
}

.red-cell {

  background-color: #FDE2E1 !important;
  color: #B71C1C !important;
  font-weight: 600;
}

.total-amt {
  color: black !important;
}