<mat-toolbar class="topbar">
    <div class="d-flex align-items-center">
        <div class="branding" *ngIf="!isMobile">
            <a href="/home">
                <img src="./assets/images/logos/logo.png" class="align-middle m-2 leap-logo" alt="logo" />
            </a>
        </div>
        <button mat-icon-button (click)="toggleSidebar()" *ngIf="isMobile">
            <mat-icon>menu_open</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleSidebar()" class="hamburg" *ngIf="!isMobile">
            <mat-icon>menu_open</mat-icon>
        </button>
    </div>
</mat-toolbar>


<mat-sidenav-container class="mainWrapper">
    <!-- Sidebar Navigation -->
    <mat-sidenav #sidenav mode="side" opened class="sidebarNav">
        <h3 class="sidebar-title d-flex justify-content-between align-items-center">
            <span>Categories</span>
            <button class="sidebar-title__close-btn" mat-icon-button (click)="toggleSidebar()" *ngIf="isMobile">
                <mat-icon>close</mat-icon>
            </button>
        </h3>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let item of categories">
                <!-- Main Category -->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ item.categoryName }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Subcategories -->
                <div *ngIf="item.subCategories.length > 0">
                    <div class="subcategory" *ngFor="let sub of item.subCategories">

                        <a mat-button (click)="loadProducts(sub.categoryId,sub.subCategoryId)">
                            <mat-icon>arrow_right</mat-icon>
                            {{ sub.subCategoryName }}</a>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="contentWrapper">
        <div *ngIf="isMainView">
            <!-- Categories -->
            <div class="row" *ngIf="isDisplayCatgories">
                <div class="col-sm-6 col-lg-3" *ngFor="let item of categories">
                    <mat-card class="cardWithShadow productcard overflow-hidden" (click)="loadSubCategories(item)">
                        <img src="{{ item.image }}" alt="imgSrc" class="w-100 product-image" mat-card-image />
                        <h3 class="product-title">
                            {{ item.categoryName }}
                        </h3>
                    </mat-card>
                </div>
            </div>
            <!-- Sub-Categories -->
            <div class="row" *ngIf="isDisplaySubCatgories">
                <div class="col-sm-6 col-lg-3" *ngFor="let item of subCategories">
                    <mat-card class="cardWithShadow productcard overflow-hidden"
                        (click)="loadProducts(item.categoryId,item.subCategoryId)">
                        <img src="{{ item.image }}" alt="imgSrc" class="w-100 product-image" mat-card-image />
                        <h3 class="product-title">
                            {{ item.subCategoryName }}
                        </h3>
                    </mat-card>
                </div>
            </div>
            <!-- Products -->
            <div class="row" *ngIf="isDisplayProducts">
                <div class="col-sm-6 col-lg-3" *ngFor="let item of products">
                    <mat-card class="cardWithShadow productcard overflow-hidden">
                        <img src="{{ item.productImage }}" alt="imgSrc" class="w-100 product-image" mat-card-image />
                        <h3 class="product-title text-center" title="{{item.productName}}"> {{
                            item.productName }}
                        </h3>
                        <div class="w-100 d-flex justify-content-between">
                            <p class="product-code"> {{ item.productCode }}</p>
                            <p class="sale-price text-right">£{{ item.salePrice | number: '1.2-2' }}</p>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>


    </mat-sidenav-content>
</mat-sidenav-container>