<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title>Users</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="row space-between-buttons">
            <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Search User</mat-label>
                    <input matInput #searchInput placeholder="Search User" [(ngModel)]="searchText"
                        (keyup.enter)="onSearchEntered(searchInput.value)" (change)="onFilter()" />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-lg-8 filter-buttons">
                <button mat-flat-button class="bg-primary text-white" (click)="loadData()" title="Refresh">
                    <mat-icon>filter_list</mat-icon> Filter
                </button>
                <button mat-flat-button class="bg-error text-white" (mousedown)="onReset()">
                    <mat-icon>clear_all</mat-icon> Clear
                </button>
                <button mat-flat-button color="primary" (click)="addoreditclick(0)" class="card-container-right">
                    <mat-icon>add</mat-icon>
                    Add
                </button>
                <button mat-flat-button color="primary" (click)="exportToExcel()" class="card-container-right">
                    <mat-icon>download</mat-icon>
                    Export To Excel
                </button>
            </div>
        </div>

        <div class="table-responsive table-scroll example-container">
            <table mat-table [dataSource]="userList" class="w-100 custom-table">

                <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">ID</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.userId }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">NAME</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.userName }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">EMAIL</th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.email }}</td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">ROLE</th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.userRole.roleName }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>STATUS</th>
                    <td mat-cell *matCellDef="let element">{{ element.status == 1 ? 'Active': 'InActive' }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        ACTION
                    </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                        <a class="m-r-10 cursor-pointer" (click)="addoreditclick(element.userId)">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="m-r-10 cursor-pointer" (click)="deleteclick(element.userId)">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="header-row"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

        </div>
        <div class="no-records" *ngIf="userList?.length == 0">No records found</div>
        <mat-paginator #paginator [length]="totalCount" [pageIndex]="pageNo" [pageSize]="pageSize"
            [pageSizeOptions]="pageOptions" [showFirstLastButtons]="true" (page)="handlePageEvent($event)">
        </mat-paginator>
    </mat-card-content>
</mat-card>