<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title>{{ categoryId != null ? 'Edit Category' : 'Create Category' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="col-lg-6">
            <form [formGroup]="categoryForm" (ngSubmit)="onSave()">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Category Name</mat-label>
                    <input matInput formControlName="categoryName" placeholder="Enter your category name" />
                    <mat-error *ngIf="categoryForm.get('categoryName')?.hasError('required')">
                        Category Name is required.
                    </mat-error>
                    <mat-error *ngIf="categoryForm.get('categoryName')?.hasError('minlength')">
                        Category Name must be at least 2 characters long.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Commission Percentage</mat-label>
                    <input matInput formControlName="commissionPercent" placeholder="Commission Percent" />
                    <mat-error *ngIf="categoryForm.get('commissionPercent')?.hasError('required')">
                        Commission Percentage is required.
                    </mat-error>                    
                </mat-form-field>

                <mat-checkbox appearance="outline" class="w-100" color="warn" formControlName="status">
                    Is Active
                </mat-checkbox>
                <div class="d-flex align-items-center m-b-16">
                    <img *ngIf="categoryImagePreview" [src]="categoryImagePreview" class="rounded-image"
                        alt="Image Preview" />
                    <button mat-flat-button color="primary" class="m-l-16 input-file-button">
                        <input type="file" accept="image/*" (change)="imageUpload($event)" />
                    </button>
                </div>

                <button mat-flat-button color="warn" class="m-r-10" (click)="onCancel();">Cancel</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="categoryForm.invalid">
                    Save
                </button>
            </form>
        </div>

    </mat-card-content>
</mat-card>