<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title>Sales</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="row">
            <mat-form-field appearance="outline" class="col-lg-2 col-xs-12">
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="selectedStatusId">
                    <mat-option [value]="null">All</mat-option>
                    <mat-option *ngFor="let item of statusLookup" [value]="item.id">
                        <span>{{item.name}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-2 col-xs-12">
                <mat-label>Payment Method</mat-label>
                <mat-select [(ngModel)]="selectedPaymentMethodId">
                    <mat-option [value]="null">All</mat-option>
                    <mat-option *ngFor="let item of paymentMethodLookup" [value]="item.id">
                        <span>{{item.name}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="col-lg-2 col-xs-12">
                <mat-label>Shipping Type</mat-label>
                <mat-select [(ngModel)]="selectedShippingMethodId">
                    <mat-option [value]="null">All</mat-option>
                    <mat-option *ngFor="let item of shippingMethodLookup" [value]="item.id">
                        <span>{{item.name}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-3 col-xs-12">
                <mat-label>Order Number</mat-label>
                <input matInput placeholder="OrderId" [(ngModel)]="orderNumberSearch" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-3 col-xs-12">
                <mat-label>Track Number</mat-label>
                <input matInput placeholder="Track Number" [(ngModel)]="trackNumberSearch" autocomplete="off">
            </mat-form-field>           
        </div>
        <div class="row col-lg-12 space-between-buttons m-b-10">
            <button mat-flat-button class="bg-primary text-white" (click)="onFilter()">
                <mat-icon>filter_list</mat-icon>
                Filter
            </button>
            <button mat-flat-button class="bg-error text-white" (mousedown)="onClear()">
                <mat-icon>clear_all</mat-icon> Clear
            </button>
        </div>

        <div *ngIf="orderList.length > 0" class="table-responsive table-scroll example-container">
            <table mat-table [dataSource]="orderList" class="w-100 custom-table">
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                    </th>
                    <td mat-cell *matCellDef="let element" class="action-link option-list-btn">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button *ngIf="element.orderStatusId == 1" mat-menu-item
                                (click)="editOrder(element.orderId)">
                                <mat-icon>edit</mat-icon>
                                Edit Order
                            </button>
                            <button mat-menu-item (click)="viewOrder(element.orderId)">
                                <mat-icon>visibility</mat-icon>
                                Order Details
                            </button>
                            <button mat-menu-item (click)="orderHistory(element.orderId)">
                                <mat-icon>history</mat-icon>
                                Order History
                            </button>
                            <button mat-menu-item (click)="paymentHistory(element.orderId)">
                                <mat-icon>payments</mat-icon>
                                Payment History
                            </button>
                            <button mat-menu-item (click)="addPayment(element)">
                                <mat-icon>currency_pound</mat-icon>
                                Add Payment
                            </button>
                            <button mat-menu-item (click)="downloadNonVAT(element.orderId)">
                                <mat-icon>description</mat-icon>Delivery Note
                            </button>
                            <button  mat-menu-item (click)="downloadVAT(element.orderId)">
                                <mat-icon>download</mat-icon>VAT Invoice
                            </button>
                            <button  mat-menu-item (click)="sendEmail(element.orderId)">
                                <mat-icon>mail</mat-icon>
                                Send Email
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <ng-container matColumnDef="orderId">
                    <th mat-header-cell *matHeaderCellDef>OrderID</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.orderId }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.createdDate | date: 'dd/MM/yyyy' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef>User</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.userName }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="shop">
                    <th mat-header-cell *matHeaderCellDef>Shop</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.areaName }} - {{ element.shopName }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="expected">
                    <th mat-header-cell *matHeaderCellDef>Expected</th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        £ {{ (element.isVAT == 1 ? element.totalWithVATAmount : element.totalWithOutVATAmount) | number:
                        '1.2-2' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="collected">
                    <th mat-header-cell *matHeaderCellDef>Collected</th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        £ {{element.collectedAmount | number: '1.2-2' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Status</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.orderStatus }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="paymentMethod">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Payment</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.paymentMethod }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="courier">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Courier</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.courier }}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"
                    [ngClass]="row.colourName"></tr>
            </table>
        </div>
        <div *ngIf="orderList.length > 0">
            <mat-paginator #paginator [length]="totalCount" [pageIndex]="pageNo" [pageSize]="pageSize"
                [pageSizeOptions]="pageOptions" [showFirstLastButtons]="true" (page)="handlePageEvent($event)">
            </mat-paginator>
        </div>
        <div class="zero-records" *ngIf="orderList?.length == 0">No records found</div>
    </mat-card-content>
</mat-card>