<div class="container-fluid">
    <h4>Search Results for: "{{ searchQuery }}"</h4>

    <div class="table-container" *ngIf="searchResults.length > 0">
        <table mat-table [dataSource]="searchResults" class="custom-table">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">{{element.oldShopId}}</td>
            </ng-container>

            <!-- Shop Name Column -->
            <ng-container matColumnDef="shopName">
                <th mat-header-cell *matHeaderCellDef>Shop Name</th>
                <td mat-cell *matCellDef="let element">{{element.shopName}}</td>
            </ng-container>

            <!-- Post Code Column -->
            <ng-container matColumnDef="postCode">
                <th mat-header-cell *matHeaderCellDef>Post Code</th>
                <td mat-cell *matCellDef="let element">{{element.postCode}}</td>
            </ng-container>

            <!-- Address Column -->
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let element">{{element.addressLine1}}</td>
            </ng-container>

            <ng-container matColumnDef="areaName">
                <th mat-header-cell *matHeaderCellDef>Area Name</th>
                <td mat-cell *matCellDef="let element">{{element.areaName}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="action-link" (click)="onRowClick(row)"></tr>
        </table>
    </div>

    <p *ngIf="searchResults.length === 0 && searchQuery" class="no-results">No results found for "{{ searchQuery }}"</p>
</div>