<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>Area Activations </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- <div class="col-lg-12 loading-indicator" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div> -->
    <div *ngIf="!isLoading && activationList?.length > 0" class="table-responsive table-scroll example-container">
      <table mat-table [dataSource]="activationList" class="w-100 custom-table">

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="PreviousActivations">
          <th mat-header-cell *matHeaderCellDef class="text-center">Prev Daily Act.</th>
          <td mat-cell *matCellDef="let element" class="text-center">{{ element.previousActivations }}</td>
          <td mat-footer-cell *matFooterCellDef class="text-center">
              {{ getTotal('previousActivations') }}
            </td>
        </ng-container>
  
        <ng-container matColumnDef="DailyActivations">
          <th mat-header-cell *matHeaderCellDef class="text-center">Daily Act.</th>
          <td mat-cell *matCellDef="let element" class="text-center">{{ element.dailyActivations }}</td>
          <td mat-footer-cell *matFooterCellDef class="text-center">
              {{ getTotal('dailyActivations') }}
            </td>
        </ng-container>

        <ng-container matColumnDef="IncreaseDailyActivations">
          <th mat-header-cell *matHeaderCellDef class="text-center">Increase in Act.</th>
          <td mat-cell *matCellDef="let element" class="text-center">{{ element.dailyActivations - element.previousActivations  }}</td>
          <td mat-footer-cell *matFooterCellDef class="text-center">
            {{ getTotal('dailyActivations') - getTotal('previousActivations') }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="InstantActivations">
          <th mat-header-cell *matHeaderCellDef class="text-center">Instant Act.</th>
          <td mat-cell *matCellDef="let element" class="text-center">{{ element.instantActivations }}</td>
          <td mat-footer-cell *matFooterCellDef class="text-center">
              {{ getTotal('instantActivations') }}
            </td>
        </ng-container> 
       
  
        <ng-container matColumnDef="Total">
          <th mat-header-cell *matHeaderCellDef class="text-center">Total</th>
          <td mat-cell *matCellDef="let element" class="text-center">{{ element.total }}</td>
          <td mat-footer-cell *matFooterCellDef class="text-center">
              {{ getTotal('total') }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
    </div>
    <div *ngIf="!isLoading && activationList?.length == 0" class="zero-records p-b-8"> <img src="/assets/images/landingpage/background/no-records.svg" />
      <span>No records found</span> </div>
  </mat-card-content>
</mat-card>