<h3>Last 6 Months Commissions</h3>
<!-- <div class="col-lg-12 loading-indicator" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div> -->
<div *ngIf="!isLoading && activationList?.length > 0" class="table-responsive table-scroll example-container">
  <table mat-table [dataSource]="activationList" class="w-100 custom-table">

    <ng-container matColumnDef="DATE">
      <th mat-header-cell *matHeaderCellDef>DATE</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date }}
      </td>
    </ng-container>

     <ng-container matColumnDef="ChequeNumber">
      <th mat-header-cell *matHeaderCellDef>REF. NUMBER</th>
      <td mat-cell *matCellDef="let element">
        {{ element.chequeNumber }}
      </td>
    </ng-container>

     <ng-container matColumnDef="OptInType">
      <th mat-header-cell *matHeaderCellDef>OPTED</th>
      <td mat-cell *matCellDef="let element">
        {{ element.optInType }}
      </td>
    </ng-container>

    <ng-container matColumnDef="EE">
      <th mat-header-cell *matHeaderCellDef class="center">EE</th>
      <td mat-cell *matCellDef="let element" class="center">{{ element.ee ?? 0 }}</td>
    </ng-container>

    <ng-container matColumnDef="THREE">
      <th mat-header-cell *matHeaderCellDef class="center">THREE</th>
      <td mat-cell *matCellDef="let element" class="center">{{ element.three ?? 0 }}</td>
    </ng-container>

    <ng-container matColumnDef="O2">
      <th mat-header-cell *matHeaderCellDef class="center">O2</th>
      <td mat-cell *matCellDef="let element" class="center">{{ element.o2 ?? 0 }}</td>
    </ng-container>
    <ng-container matColumnDef="LEBARA">
      <th mat-header-cell *matHeaderCellDef class="center">LEBARA</th>
      <td mat-cell *matCellDef="let element" class="center">{{ element.lebara ?? 0 }}</td>
    </ng-container>
    <ng-container matColumnDef="GIFGAFF">
      <th mat-header-cell *matHeaderCellDef class="center">GIFGAFF</th>
      <td mat-cell *matCellDef="let element" class="center">{{ element.giffgaff ?? 0 }}</td>
    </ng-container>
    <ng-container matColumnDef="VODAFONE">
      <th mat-header-cell *matHeaderCellDef class="center">VODAFONE</th>
      <td mat-cell *matCellDef="let element" class="center">{{ element.vodafone ?? 0 }}</td>
    </ng-container>
    <ng-container matColumnDef="VOXI">
      <th mat-header-cell *matHeaderCellDef class="center">VOXI</th>
      <td mat-cell *matCellDef="let element" class="center">{{ element.voxi ?? 0 }}</td>
    </ng-container>
    <ng-container matColumnDef="SMARTY">
      <th mat-header-cell *matHeaderCellDef class="center">SMARTY</th>
      <td mat-cell *matCellDef="let element" class="center">{{ element.smarty ?? 0 }}</td>
    </ng-container>
    <ng-container matColumnDef="TOTAL">
      <th mat-header-cell *matHeaderCellDef class="center">TOTAL</th>
      <td mat-cell *matCellDef="let element" class="center">{{ element.total ?? 0 }}</td>
    </ng-container>

    <ng-container matColumnDef="CommissionAmount">
      <th mat-header-cell *matHeaderCellDef class="center">COMMISSION</th>
      <td mat-cell *matCellDef="let element" class="center">£{{ element.commissionAmount | number : "1.2-2" }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="BonusAmount">
      <th mat-header-cell *matHeaderCellDef class="center">Bonus</th>
      <td mat-cell *matCellDef="let element" class="center">£{{ element.bonusAmount | number : "1.2-2" }}</td>
    </ng-container> -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element" class="action-link option-list-btn">
        <button mat-menu-item (click)="downloadCommissionStatement(element.shopId,element.commissionDate)">
          <mat-icon>download</mat-icon>
        </button>
        
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="isAdmin" mat-menu-item
            (click)="hideBonus(element.shopCommissionHistoryId,element.includeWalletBonus)">
            <mat-icon>edit</mat-icon>
            {{element.includeWalletBonus ? 'Hide Bonus' : 'UnHide Bonus'}}
          </button>

          <button mat-menu-item (click)="downloadCommissionStatement(element.shopId,element.commissionDate)">
            <mat-icon>download</mat-icon>Download
          </button>

        </mat-menu> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div class="zero-records p-b-8" *ngIf="!isLoading && activationList?.length == 0"> <img
    src="/assets/images/landingpage/background/no-records.svg" />
  <span>No records found</span>
</div>