<div class="page-title">
    <h1>Change Password</h1>
    <span class="page-title__info"></span>
    <mat-card class="cardWithShadow theme-card">
        <mat-card-content>
            <div class="col-lg-6">
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

                    <!-- Old Password -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Old Password</mat-label>
                        <input matInput [type]="hideOld ? 'password' : 'text'" formControlName="oldPassword" />
                        <button mat-icon-button matSuffix type="button" (click)="hideOld = !hideOld">
                            <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="f['oldPassword'].hasError('required')">Old password is
                            required</mat-error>
                    </mat-form-field>

                    <!-- New Password -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword" />
                        <button mat-icon-button matSuffix type="button" (click)="hideNew = !hideNew">
                            <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="f['newPassword'].hasError('required')">New password is
                            required</mat-error>
                        <mat-error *ngIf="f['newPassword'].hasError('minlength')">Minimum 8
                            characters</mat-error>
                        <mat-error *ngIf="f['newPassword'].hasError('pattern')">
                            Must include uppercase, number & special character
                        </mat-error>
                    </mat-form-field>

                    <!-- Confirm Password -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword" />
                        <button mat-icon-button matSuffix type="button" (click)="hideConfirm = !hideConfirm">
                            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="f['confirmPassword'].hasError('required')">Confirm password is
                            required</mat-error>
                        <mat-error *ngIf="f['confirmPassword'].hasError('passwordMismatch')">
                            Passwords do not match
                        </mat-error>
                    </mat-form-field>

                    <button mat-flat-button color="warn" class="m-r-10" (click)="onCancel();">Cancel</button>
                    <button mat-raised-button color="primary" type="submit">
                        Save
                    </button>


                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>