.background-img {
    width: 100%;
    height: 100%;
}

.login-container {
    background: url(../../../assets/images/backgrounds/login-bg.png) no-repeat;
    background-size: cover;

    .login-form {
        width: 100%;
        background-color: #0000008c;
        border-radius: 10px;
        min-height: 80%;
    }

    .mdc-text-field--filled {
        background-color: #ffffff;
        border-radius: 8px;
        font-size: 18px;
    }

    .login-btn {
        height: 50px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 100;
    }

    .leap-logo {
        height: 60px !important;
    }

    .mat-subtitle-2 {
        color: #ffffff;
        font-size: 18px !important;
        font-weight: 100 !important;
    }

    .retailerLogin {
        background-color: green !important;
    }
}