<div class="page-title">
  <h1>{{ userId != null ? 'Edit User' : 'Create User' }}</h1>
  <span class="page-title__info"></span>




  <form [formGroup]="userForm" (ngSubmit)="onSave()">
    <mat-card class="cardWithShadow theme-card section-card">
      <mat-card-title class="section-title">Basic Details</mat-card-title>
      <mat-card-content>
        <div class="col-lg-12">
          <div class="col-lg-12 d-flex align-items-center m-b-16">
            <img *ngIf="userImagePreview" [src]="userImagePreview" class="rounded-image" alt="User Image Preview" />
            <button mat-flat-button color="primary" class="m-l-16 input-file-button">
              <input type="file" accept="image/*" (change)="imageUpload($event)" />
            </button>
          </div>
        </div>
        <div class="col-lg-12">
          <mat-form-field appearance="outline" class="col-lg-4">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="userName" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4">
            <mat-label>Nick Name</mat-label>
            <input matInput formControlName="nickName" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4">
            <mat-label>User Role</mat-label>
            <mat-select formControlName="userRoleId" placeholder="Select Role">
              <mat-option [value]="null">-Select-</mat-option>
              <mat-option *ngFor="let item of userRoleLookup" [value]="item.id">
                <span>{{ item.name }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4">
            <mat-label>Mobile</mat-label>
            <input matInput type="tel" formControlName="mobile" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-lg-4">
            <mat-label>Password</mat-label>
            <input matInput type="text" formControlName="password" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="dobPicker" formControlName="dob" />
            <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4">
            <mat-label>Date of Joining</mat-label>
            <input matInput [matDatepicker]="dojPicker" formControlName="doj" />
            <mat-datepicker-toggle matSuffix [for]="dojPicker"></mat-datepicker-toggle>
            <mat-datepicker #dojPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4" color="warn">
            <mat-label>Locality</mat-label>
            <mat-select formControlName="locality" placeholder="Select Locality">
              <mat-option value="">-Select-</mat-option>
              <mat-option value="London">London</mat-option>
              <mat-option value="Outer London">Outer London</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4" color="warn">
            <mat-label>Designation</mat-label>
            <mat-select formControlName="designation" placeholder="Select Designation">
              <mat-option value="">-Select-</mat-option>
              <mat-option value="Business Development Officer">Business Development Officer</mat-option>
              <mat-option value="Marketing Executive">Marketing Executive</mat-option>
              <mat-option value="Retail Sales Executive">Retail Sales Executive</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-12">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address" cols="3"></textarea>
          </mat-form-field>

          <!-- MComm Access -->
          <mat-checkbox class="col-lg-6" formControlName="isMcomAccess">MComm Access</mat-checkbox>

          <!-- Leap Access -->
          <mat-checkbox class="col-lg-6" formControlName="isLeapAccess">Leap Access</mat-checkbox>

        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="cardWithShadow theme-card section-card m-t-16">
      <mat-card-title class="section-title">Salary Settings</mat-card-title>
      <mat-card-content>
        <div class="col-lg-12" formGroupName="userSalarySettings">
          <mat-form-field appearance="outline" class="col-lg-6" color="warn">
            <mat-label>Salary Type</mat-label>
            <mat-select formControlName="salaryBasis" placeholder="Salary Type">
              <mat-option value="">-Select-</mat-option>
              <mat-option value="Daily">Daily</mat-option>
              <mat-option value="Monthly">Monthly</mat-option>
              <mat-option value="Sim Basis">Sim Basis</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-6">
            <mat-label>Salary Rate</mat-label>
            <input matInput formControlName="salaryRate" type="number" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-6" color="warn">
            <mat-label>Travel Type</mat-label>
            <mat-select formControlName="travelType" placeholder="Travel Type">
              <mat-option value="">-Select-</mat-option>
              <mat-option value="Daily">Daily</mat-option>
              <mat-option value="Monthly">Monthly</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-6">
            <mat-label>Travel Rate</mat-label>
            <input matInput formControlName="travelRate" type="number" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-3">
            <mat-label>Effective From</mat-label>
            <input matInput formControlName="effectiveDate" [matDatepicker]="monthPicker" placeholder="Choose a Month" />
            <mat-datepicker-toggle matIconSuffix [for]="monthPicker"></mat-datepicker-toggle>
            <mat-datepicker #monthPicker startView="year" (yearSelected)="chosenYearHandler($event)"
              (monthSelected)="chosenMonthHandler($event, monthPicker)" panelClass="month-picker">
            </mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>


    <mat-card class="cardWithShadow theme-card section-card">
      <mat-card-title class="section-title">User Documents</mat-card-title>
      <mat-card-content>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12 text-right">
              <button mat-flat-button color="primary" (click)="addDocument()">
                <mat-icon>add</mat-icon> Add More
              </button>
            </div>
          </div>

          <div *ngIf="userDocuments.controls" class="p-t-10">
            <div formArrayName="userDocuments" *ngFor="let t of userDocuments.controls; let i = index">
              <div class="col-lg-12" [formGroupName]="i">
                <mat-form-field appearance="outline" class="col-lg-6">
                  <mat-label>Document Type</mat-label>
                  <mat-select formControlName='documentType' id="{{'documentType'+i}}" placeholder="Select Document">
                    <mat-option [value]="0">-Select-</mat-option>
                    <mat-option *ngFor="let item of documentTypeLookUp" [value]="item.id">
                      <span>{{ item.name }}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-6">
                  <mat-label>Document Number</mat-label>
                  <input matInput  placeholder="Document Number" formControlName='documentNumber'
                    id="{{'documentNumber'+i}}" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-6">
                  <mat-label>Valid From</mat-label>
                  <input matInput [matDatepicker]="pickerFrom" formControlName='validFrom' id="{{'validFrom'+i}}">
                  <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                  <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-6">
                  <mat-label>Valid To</mat-label>
                  <input matInput [matDatepicker]="pickerTo" formControlName='validTo' id="{{'validTo'+i}}">
                  <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                  <mat-datepicker #pickerTo></mat-datepicker>
                </mat-form-field>

                <div class="col-lg-12">
                  <div class="col-lg-12 image-preview rounded-image">
                    <img *ngIf="getDocumentPreview(i)" [src]="getDocumentPreview(i)" class="rounded-image"
                      alt="User Image Preview"> <br />
                  </div>
                  <div appearance="fill" class="m-15">
                    <input type="file" accept="image/*" id="documentImage-{{ i }}"
                      (change)="onDocumentImageSelected($event, i)" />
                  </div>
                </div>
                <button type="button" mat-flat-button color="warn" class="m-t-10 float-right"
                  (click)="removeDocument(i);">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-checkbox appearance="outline" class="w-100" color="warn" formControlName="status">
      Is Active
    </mat-checkbox>
    <button mat-flat-button color="warn" class="m-r-10" (click)="onCancel();">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
      Save
    </button>
  </form>