
.section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  margin:1em;
}

.section-card {
  margin-bottom: 24px;
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
  align-items: center;
}

.image-thumb-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.image-thumb {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #d6d6d6;
}

.image-thumb-wrapper button {
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgba(255,255,255,0.9);
}

.hide{
  display:none;
}