<div class="page-title">
    <h1>{{ productId != null ? 'Edit Product' : 'Create Product' }}</h1>
    <span class="page-title__info"></span>

    <form [formGroup]="productForm" (ngSubmit)="onSave()">
        <!-- Section: Basic Details -->
        <mat-card class="cardWithShadow theme-card section-card">
            <mat-card-title class="section-title">Basic Details</mat-card-title>
            <mat-card-content>
                <div class="col-lg-12">
                    <div class="col-lg-12 d-flex align-items-center m-b-16">
                        <label style="margin-right:1em">Product Image:</label>
                        <img *ngIf="productImagePreview" [src]="productImagePreview" class="rounded-image"
                            alt="Image Preview" />
                        <button mat-flat-button color="primary" class="m-l-16 input-file-button">
                            <input type="file" accept="image/*" (change)="imageUpload($event)" />
                        </button>
                    </div>
                </div>

                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="col-lg-6">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="categoryId" (selectionChange)="onCategoryChange($event)">
                            <ngx-mat-select-search [formControl]="categoryFilterCtrl" placeholderLabel="Search here..."
                                noEntriesFoundLabel="No matching found"></ngx-mat-select-search>
                            <mat-option [value]="null">All</mat-option>
                            <mat-option *ngFor="let category of filteredCategories" [value]="category.id">{{
                                category.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-6">
                        <mat-label>Sub-Category</mat-label>
                        <mat-select formControlName="subCategoryId">
                            <ngx-mat-select-search [formControl]="subCategoryFilterCtrl"
                                placeholderLabel="Search here..."
                                noEntriesFoundLabel="No matching found"></ngx-mat-select-search>
                            <mat-option [value]="null">All</mat-option>
                            <mat-option *ngFor="let subCategory of filteredSubCategories" [value]="subCategory.id">{{
                                subCategory.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-6">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="productName" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-6">
                        <mat-label>Code</mat-label>
                        <input matInput formControlName="productCode" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-12">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" rows="3"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-12">
                        <mat-label>Specification</mat-label>
                        <textarea matInput formControlName="specification" rows="3"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-3">
                        <mat-label>Buying Price</mat-label>
                        <input matInput formControlName="buyingPrice" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-3">
                        <mat-label>Commission Percentage</mat-label>
                        <input matInput formControlName="commissionToAgent" placeholder="Commission To Agent" />
                        <mat-error *ngIf="productForm.get('commissionToAgent')?.hasError('required')">
                            Agent Percentage is required.
                        </mat-error>
                    </mat-form-field><mat-form-field appearance="outline" class="col-lg-3">
                        <mat-label>Commission Percentage</mat-label>
                        <input matInput formControlName="commissionToManager" placeholder="Commission To Manager" />
                        <mat-error *ngIf="productForm.get('commissionToManager')?.hasError('required')">
                            Manager Percentage is required.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-3">
                        <mat-label>Mix And Match Group</mat-label>
                        <mat-select formControlName="mixMatchGroupId">
                            <ngx-mat-select-search [formControl]="mixMatchGroupCtrl" placeholderLabel="Search here..."
                                noEntriesFoundLabel="No matching found"></ngx-mat-select-search>
                            <mat-option [value]="null">All</mat-option>
                            <mat-option *ngFor="let item of filteredMixAndMatchGroups" [value]="item.id">{{
                                item.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-12 m-t-10">
                    <mat-checkbox class="col-lg-3" formControlName="isNewArrival">New Arrival</mat-checkbox>
                    <mat-checkbox class="col-lg-3" formControlName="isOutOfStock">Out of Stock</mat-checkbox>
                    <mat-checkbox class="col-lg-3" formControlName="isBundle">Is Bundle</mat-checkbox>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- Section: Pricing -->
        <mat-card class="cardWithShadow theme-card section-card m-t-16">
            <mat-card-title class="section-title">Pricing</mat-card-title>
            <mat-card-content>

                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button mat-flat-button color="primary" (click)="addChildProduct()">
                            <mat-icon>add</mat-icon> Add More
                        </button>
                    </div>
                </div>

                <div *ngIf="productPrices.controls">
                    <div formArrayName="productPrices" *ngFor="let t of productPrices.controls; let i = index">
                        <div class="col-lg-12" [formGroupName]="i">
                            <mat-form-field appearance="outline" class="col-lg-2">
                                <mat-label>From Qty</mat-label>
                                <input matInput formControlName='fromQty' required (change)="validate($event, i)">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col-lg-2">
                                <mat-label>To Qty</mat-label>
                                <input matInput formControlName='toQty' required (change)="validate($event, i)">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col-lg-2">
                                <mat-label>Sale Price</mat-label>
                                <input matInput formControlName='salePrice' required>
                            </mat-form-field>

                            <button type="button" mat-flat-button color="warn"
                                (click)="removeChildProduct(i)">Remove</button>
                        </div>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>

        <!-- Section: Status and Save -->
        <mat-checkbox appearance="outline" class="w-100" color="warn" formControlName="status">
            Is Active
        </mat-checkbox>
        <div class="m-t-16">
            <button mat-flat-button color="warn" class="m-r-10" (click)="onCancel();">Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Save</button>
        </div>
    </form>
</div>