<mat-sidenav-container class="mainWrapper" autosize autoFocus [ngClass]="{
  'sidebarNav-mini': options.sidenavCollapsed && options.navPos !== 'top' &&  !resView,
  'sidebarNav-horizontal': options.horizontal,
  cardBorder: options.cardBorder,
  orange_theme: options.activeTheme == 'orange_theme',
  blue_theme: options.activeTheme == 'blue_theme',
  aqua_theme: options.activeTheme == 'aqua_theme',
  purple_theme: options.activeTheme == 'purple_theme',
  green_theme: options.activeTheme == 'green_theme',
  cyan_theme: options.activeTheme == 'cyan_theme'
}" [dir]="options.dir!" [style.display]="'flex'" [style.flex-direction]="'column'">
  <!-- ============================================================== -->
  <!-- Vertical Sidebar -->
  <!-- ============================================================== -->
  @if (!options.horizontal) {
  <mat-sidenav *ngIf="isDisplaySideMenu" #leftsidenav [mode]="isOver ? 'over' : 'side'"
    [opened]="options.navPos === 'side' && options.sidenavOpened && !isOver && !resView"
    (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav"
    [style.overflow]="'hidden'">
    <div class="flex-layout" [style.display]="'flex'" [style.flex-direction]="'column'" [style.height]="'100%'">
      <app-sidebar class="app-sidebar" (toggleMobileNav)="sidenav.toggle()" [showToggle]="isOver"></app-sidebar>
      <ng-scrollbar class="position-relative sidebar-scrollbar" style="height: 100%; flex: 1;">
        <mat-nav-list class="sidebar-list" [style.padding]="'0'">
          <ng-container *ngFor="let item of navItems">
            <!-- Parent with children: use button so it's NOT navigable -->
            <div *ngIf="item.children; else singleLink">
              <a mat-list-item (click)="toggle(item)">
                <mat-icon matListIcon *ngIf="item.iconName" [style.margin-right]="'12px'">{{ item.iconName }}</mat-icon>
                <span>{{ item.displayName }}</span>
                <mat-icon class="expand-icon" [style.margin-left]="'auto'">
                  {{ expanded.has(item.displayName) ? 'expand_less' : 'expand_more' }}
                </mat-icon>
              </a>
              <div class="child-menu" *ngIf="expanded.has(item.displayName)">
                <ng-container *ngFor="let child of item.children">
                  <!-- New-tab / external link branch -->
                  <ng-container *ngIf="child.target === '_blank'; else sameTab">
                    <a mat-list-item (click)="onItemSelected(child)" target="_blank" rel="noopener noreferrer"
                      class="menu-list-item">
                      <mat-icon class="bullet">arrow_right</mat-icon>
                      <span>{{ child.displayName }}</span>
                    </a>
                  </ng-container>

                  <!-- Same-tab (Angular router) branch -->
                  <ng-template #sameTab>
                    <a mat-list-item [attr.href]="child.target === '_blank' ? child.route : null"
                      [attr.target]="child.target === '_blank' ? '_blank' : null"
                      [routerLink]="child.target !== '_blank' ? child.route : null" routerLinkActive="active"
                      (click)="onNavItemClick()">
                      <mat-icon class="bullet">arrow_right</mat-icon>
                      <span>{{ child.displayName }}</span>
                    </a>
                  </ng-template>

                </ng-container>
                <!-- <a mat-list-item *ngFor="let child of item.children"
                  [attr.href]="child.target === '_blank' ? child.route : null"
                  [attr.target]="child.target === '_blank' ? '_blank' : null"
                  [routerLink]="child.target !== '_blank' ? child.route : null" 
                  routerLinkActive="active">
                  <mat-icon class="bullet">arrow_right</mat-icon>
                  <span>{{ child.displayName }}</span>
                </a> -->
              </div>
            </div>

            <!-- Single route link -->


            <ng-template #singleLink>
              <a *ngIf="item.target === '_blank'" mat-list-item (click)="onItemSelected(item)" target="_blank"
                rel="noopener noreferrer" class="menu-list-item">
                <mat-icon class="bullet">arrow_right</mat-icon>
                <span>{{ item.displayName }}</span>
              </a>
              <a *ngIf="item.target != '_blank'" mat-list-item [routerLink]="item.route" routerLinkActive="active"
                (click)="onNavItemClick()">
                <mat-icon matListIcon *ngIf="item.iconName" [style.margin-right]="'12px'">{{ item.iconName }}</mat-icon>
                <span>{{ item.displayName }}</span>
              </a>
            </ng-template>

          </ng-container>
        </mat-nav-list>
      </ng-scrollbar>
      <!-- <div class="p-24 m-t-auto profile-bar">
        <div class="bg-light-accent d-flex align-items-center rounded p-16">
          <img src="/assets/images/profile/user-1.jpg" class="rounded-circle" width="40" />
          <div class="m-l-16">
            <h4 class="m-0 f-w-600">{{ loggedInUser.userName }}</h4>
            <span class="f-s-12">{{ loggedInUser.userRole.roleName }}</span>
          </div>
          <div class="m-l-auto">
            <a mat-icon-button (click)="logout()" class="d-flex justify-content-center">
              <mat-icon class="f-s-18">logout</mat-icon>
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </mat-sidenav>
  }

  <!-- ============================================================== -->
  <!-- horizontal Sidebar -->
  <!-- ============================================================== -->
  @if (resView) {
  <mat-sidenav *ngIf="isDisplaySideMenu" #leftsidenav [mode]="'over'" [opened]="options.sidenavOpened && !isTablet"
    (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav">
    <app-sidebar> </app-sidebar>
    <ng-scrollbar class="position-relative" style="height: 100%">
      <mat-nav-list class="sidebar-list">
        @for(item of navItems; track item) {
        <app-nav-item [item]="item" (notify)="sidenav.toggle()"> </app-nav-item>
        }
      </mat-nav-list>
    </ng-scrollbar>
    <!-- <div class="p-24 m-t-auto profile-bar">
      <div class="bg-light-accent d-flex align-items-center rounded p-16">
        <img src="/assets/images/profile/user-1.jpg" class="rounded-circle" width="40" />
        <div class="m-l-16">
          <h4 class="mat-subtitle-2 f-w-600">Mathew</h4>
          <span class="f-s-12">Designer</span>
        </div>
        <div class="m-l-auto">
          <a mat-icon-button [routerLink]="['/authentication/side-login']" class="d-flex justify-content-center">
            <mat-icon>power</mat-icon>
          </a>
        </div>
      </div>
    </div> -->
  </mat-sidenav>
  }

  <!-- ============================================================== -->
  <!-- Main Content -->
  <!-- ============================================================== -->
  <mat-sidenav-content class="contentWrapper" #content>
    <!-- ============================================================== -->
    <!-- VerticalHeader -->
    <!-- ============================================================== -->
    @if (!options.horizontal) {
    <app-header [showToggle]="!isOver" (toggleCollapsed)="toggleCollapsed()" (toggleMobileNav)="sidenav.toggle()"
      (toggleMobileFilterNav)="filterNavRight.toggle()"></app-header>
    }

    <main class="pageWrapper" [ngClass]="{
      maxWidth: options.boxed
    }">

      <!-- ============================================================== -->
      <!-- Outlet -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- ------------------------------------------------------------------
  Mobile Apps Sidebar
  ------------------------------------------------------------------ -->
<mat-drawer #filterNavRight mode="over" position="end" class="filter-sidebar">
  <div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="branding">
        @if(options.theme === 'light') {
        <a href="/">
          <img src="./assets/images/logos/logo.png" class="align-middle m-2" alt="logo" />
        </a>
        } @else {
        <a href="/">
          <img src="./assets/images/logos/light-logo.svg" class="align-middle m-2" alt="logo" />
        </a>
        }
      </div>
      <button mat-icon-button (click)="filterNavRight.toggle()" class="d-flex justify-content-center">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</mat-drawer>