<mat-toolbar class="topbar">
    <div class="d-flex align-items-center">
        <div class="branding" *ngIf="!isMobile">
            <a href="/home">
                <img src="./assets/images/logos/logo.png" class="align-middle m-2 leap-logo" alt="logo" />
            </a>
        </div>
        <button mat-icon-button (click)="toggleSidebar()" *ngIf="isMobile">
            <mat-icon>menu_open</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleSidebar()" class="hamburg" *ngIf="!isMobile">
            <mat-icon>menu_open</mat-icon>
        </button>
    </div>

    <div class="end-sction d-flex align-items-center">
        <span class="flex-1-auto"></span>
        <button mat-button class="flex-row-button icon-custom" (click)="viewCart()">
            <mat-icon>shopping_cart</mat-icon>
            <span *ngIf="cartItems.length> 0" class="cart-items-count">{{ cartItems.length }}</span>
        </button>

        <button mat-flat-button color="primary" (click)="viewCart()">
            Checkout <label style="color: red; font-weight: bold;"> (£{{ netTotal | number: '1.2-2'}}) </label>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container class="mainWrapper">
    <!-- Sidebar Navigation -->
    <mat-sidenav #sidenav mode="side" opened class="sidebarNav">
        <h3 class="sidebar-title d-flex justify-content-between align-items-center">
            <span>Categories</span>
            <button class="sidebar-title__close-btn" mat-icon-button (click)="toggleSidebar()" *ngIf="isMobile">
                <mat-icon>close</mat-icon>
            </button>
        </h3>
        <mat-accordion>
            <mat-expansion-panel>
                <!-- New Arrival Category -->
                <mat-expansion-panel-header (click)="loadNewArrivals()">
                    <mat-panel-title>
                        New Arrivals
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let item of categories">
                <!-- Main Category -->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ item.categoryName }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Subcategories -->
                <div *ngIf="item.subCategories.length > 0">
                    <div class="subcategory" *ngFor="let sub of item.subCategories">
                        <a mat-button (click)="loadProducts(sub.categoryId,sub.subCategoryId)">
                            <mat-icon>arrow_right</mat-icon>
                            {{ sub.subCategoryName }}</a>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="contentWrapper">
        <div *ngIf="isMainView">
            <!-- Categories -->
            <div class="row" *ngIf="isDisplayCatgories">
                <div class="col-sm-6 col-lg-3">
                    <mat-card class="cardWithShadow productcard overflow-hidden" (click)="loadNewArrivals()">
                        <img src="/assets/images/logos/NewArrivals.jpg" alt="imgSrc" class="w-100 product-image"
                            mat-card-image />
                        <h3 class="product-title">
                            New Arrivals
                        </h3>
                    </mat-card>
                </div>
                <div class="col-sm-6 col-lg-3" *ngFor="let item of categories">
                    <mat-card class="cardWithShadow productcard overflow-hidden" (click)="loadSubCategories(item)">
                        <img src="{{ item.image }}" alt="imgSrc" class="w-100 product-image" mat-card-image />
                        <h3 class="product-title">
                            {{ item.categoryName }}
                        </h3>
                    </mat-card>
                </div>
            </div>
            <!-- Sub-Categories -->
            <div class="row" *ngIf="isDisplaySubCatgories">
                <div class="col-sm-6 col-lg-3" *ngFor="let item of subCategories">
                    <mat-card class="cardWithShadow productcard overflow-hidden"
                        (click)="loadProducts(item.categoryId,item.subCategoryId)">
                        <img src="{{ item.image }}" alt="imgSrc" class="w-100 product-image" mat-card-image />
                        <h3 class="product-title">
                            {{ item.subCategoryName }}
                        </h3>
                    </mat-card>
                </div>
            </div>
            <!-- Products -->
            <div class="row" *ngIf="isDisplayProducts">
                <div class="col-sm-6 col-lg-3" *ngFor="let item of products">
                    <mat-card class="cardWithShadow productcard overflow-hidden">
                        <img src="{{ item.productImage }}" alt="imgSrc" class="w-100 product-image" mat-card-image
                            (click)="viewProductDetails(item)" />
                        <h3 class="product-title text-center" title="{{item.productName}}"> {{
                            item.productName }}
                        </h3>
                        <div class="w-100 d-flex justify-content-between">
                            <p class="product-code"> {{ item.productCode }}</p>
                            <p class="sale-price text-right">
                                <ng-container *ngIf="item.hasPriceStructure; else normalPrice">
                                    <span class="strike-out">£{{ item.salePrice | number:'1.2-2' }}</span>
                                    <span> £{{ item.lowestPrice | number:'1.2-2' }} onwards</span>
                                </ng-container>

                                <ng-template #normalPrice>
                                    £{{ item.salePrice | number:'1.2-2' }}
                                </ng-template>
                            </p>
                        </div>
                        <div class="d-flex ">
                            <div class="d-flex quantity-container">
                                <div class="grid-new d-flex align-items-center">
                                    <button mat-icon-button (click)="decreaseQuantity(item)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                    <input matInput type="number" class="item-qty" [(ngModel)]="item.qty">
                                    <button mat-icon-button (click)="increaseQuantity(item)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                                <button mat-icon-button matTooltip="Add to Cart" (click)="addToCart(item)">
                                    <mat-icon>shopping_cart</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

        <div *ngIf="isCartView" class="page-title">
            <h1>Edit Order</h1>
            <mat-card class="m-t-12" *ngIf="cartItems.length > 0">
                <div class="table-responsive table-max-scroll example-container">
                    <table mat-table [dataSource]="cartItems" class="w-100 custom-table">
                        <ng-container matColumnDef="productName">
                            <th mat-header-cell *matHeaderCellDef>Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.productName }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="productCode">
                            <th mat-header-cell *matHeaderCellDef>Code</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.productCode }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="quantity" class="text-center">
                            <th mat-header-cell *matHeaderCellDef>Quantity</th>
                            <td mat-cell *matCellDef="let element">
                                <input type="number" matInput #quantityInput min="1" class="item-qty"
                                    value="{{ element.qty }}"
                                    (change)="updateCartItemQuantity(element,quantityInput.value)" />
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="salePrice">
                            <th mat-header-cell *matHeaderCellDef>Price</th>
                            <td mat-cell *matCellDef="let element">
                                £{{ element.salePrice | number: '1.2-2' }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>Sub Total</td>
                        </ng-container>

                        <ng-container matColumnDef="netAmount">
                            <th mat-header-cell *matHeaderCellDef>Item Total</th>
                            <td mat-cell *matCellDef="let element">
                                £{{ element.netAmount | number: '1.2-2' }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef> £{{ netTotal | number: '1.2-2'}} </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef>Total</th>
                            <td mat-cell *matCellDef="let element">
                                £{{ (element.netAmount + element.vatAmount) | number: '1.2-2' }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef> £{{ subTotal | number: '1.2-2'}} </td>
                        </ng-container> -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element" class="action-link">
                                <a class="m-r-10 cursor-pointer custom-icon" (click)="removeCartItem(element)">
                                    <mat-icon>delete</mat-icon>
                                </a>
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                    </table>
                </div>
            </mat-card>

            <div class="order-summary-card mat-elevation-z2 p-3">
                <h2 class="summary-title">Order Summary</h2>

                <div class="table-responsive">
                    <table class="order-summary-table w-100">
                        <tbody>
                            <tr>
                                <td class="label small text-muted">Sub Total</td>
                                <td class="value text-right">£{{ netTotal | number : "1.2-2" }}</td>
                            </tr>
                            <tr>
                                <td class="label small text-muted">Delivery Charges</td>
                                <td class="value text-right">£{{ deliveryCharges | number : "1.2-2" }}</td>
                            </tr>
                            <tr>
                                <td class="label small text-muted">Gross Total</td>
                                <td class="value text-right">£{{ (netTotal + deliveryCharges) | number : "1.2-2" }}</td>
                            </tr>
                            <tr>
                                <td class="label small text-muted">VAT ({{ vatPercentage }}%)</td>
                                <td class="value text-right">£{{ totalVatAmount | number : "1.2-2" }}</td>
                            </tr>

                            <tr *ngIf="isAdmin && discountAmount > 0">
                                <td class="label small text-muted">Discount ({{ discountPercentage }})</td>
                                <td class="value text-right text-danger">- £{{ discountAmount | number : "1.2-2" }}</td>
                            </tr>

                            <tr *ngIf="isAdmin">
                                <td class="label small text-muted">Discount (%)</td>
                                <td class="value text-right">
                                    <input type="number" matInput class="item-qty" style="max-width:120px; width:100%"
                                        [(ngModel)]="discountPercentage" (change)="updateCalculations()">
                                </td>
                            </tr>

                            <tr class="grand-row">
                                <td class="label h6">Grand Total</td>
                                <td class="value text-right h5 font-weight-bold">£{{ grandTotal | number : "1.2-2" }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mt-3">
                <div class="mb-2 mb-sm-0">
                    <button mat-stroked-button color="primary" (click)="continueShopping()">Continue Shopping</button>
                </div>
                <div>
                    <button mat-flat-button color="warn" (click)="updateOrder()">Update Order</button>
                </div>
            </div>

        </div>

        <div *ngIf="isDisplayProductDetails">
            <app-product-detail [selectedProduct]="selectedProduct" (notifyParent)="addToCart($event)"
                (backToList)="onBackFromDetails()"></app-product-detail>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>