.contentWrapper {
    padding: 20px !important;
}

.branding {
    padding: 0em !important;
}

.continue-shopping {
    display: block !important;

    button,
    mat-form-field {
        margin-left: 1em !important;
        margin-bottom: 1em !important;
    }
}