<div class="page-title">
    <h1>Shops</h1>
    <span class="page-title__info"></span>
    <mat-card class="cardWithShadow theme-card">
        <mat-card-content>
            <div class="row space-between-buttons">
                <div class="col-lg-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select [(ngModel)]="selectedAreaId" placeholder="Select Area"
                            (selectionChange)="areaChange()">
                            <mat-option [value]="0">All</mat-option>
                            <mat-option *ngFor="let item of areaLookup" [value]="item.id">
                                <span>{{ item.id }} - {{ item.name }}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Search Shop</mat-label>
                        <input matInput #searchInput placeholder="Search Shop" [(ngModel)]="searchText"
                            (keyup.enter)="onSearchEntered(searchInput.value)" (change)="onFilter()" />
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 ">
                    <button mat-flat-button class="bg-primary text-white" (click)="loadData()" title="Refresh">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button>
                    <button mat-flat-button class="bg-error text-white" (mousedown)="onReset()">
                        <mat-icon>clear_all</mat-icon> Clear
                    </button>
                    <button mat-flat-button color="primary" (click)="addoreditclick(null)" class="card-container-right">
                        <mat-icon>add</mat-icon>
                        Add
                    </button>
                    <button mat-flat-button color="primary" *ngIf="isDisplay" (click)="exportToExcel()"
                        class="card-container-right">
                        <mat-icon>download</mat-icon>
                        Export
                    </button>
                </div>
            </div>

            <div class="table-responsive table-scroll example-container">
                <table mat-table [dataSource]="shopList" class="w-100 custom-table">

                    <ng-container matColumnDef="shopId">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.shopId }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="shopName">
                        <th mat-header-cell *matHeaderCellDef>NAME</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.shopName }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="postCode">
                        <th mat-header-cell *matHeaderCellDef>POST CODE</th>
                        <td mat-cell *matCellDef="let element">{{ element.postCode }}</td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef>ADDRESS</th>
                        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
                    </ng-container>

                    <ng-container matColumnDef="areaName">
                        <th mat-header-cell *matHeaderCellDef>AREA</th>
                        <td mat-cell *matCellDef="let element">{{ element.area.areaName }}</td>
                    </ng-container>


                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>STATUS</th>
                        <td mat-cell *matCellDef="let element">{{ element.status == 1 ? 'Active': 'InActive' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            ACTION
                        </th>
                        <td mat-cell *matCellDef="let element" class="action-link">

                            <a class="m-r-10 cursor-pointer" (click)="addoreditclick(element.shopId)">
                                <mat-icon>edit</mat-icon>
                            </a>
                            <a class="m-r-10 cursor-pointer" *ngIf="isDisplay" (click)="deleteclick(element.shopId)">
                                <mat-icon>delete</mat-icon>
                            </a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
            <div class="zero-records p-b-8" *ngIf="shopList?.length == 0"><img src="/assets/images/landingpage/background/no-records.svg" />
                <span>No records found</span></div>
            <mat-paginator #paginator [length]="totalCount" [pageIndex]="pageNo" [pageSize]="pageSize"
                [pageSizeOptions]="pageOptions" [showFirstLastButtons]="true" (page)="handlePageEvent($event)">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>