.product-container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .product-images {
    width: 40%;
  }
  
  .main-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .thumbnail-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
  }
  
  .thumbnail:hover,
  .selected {
    opacity: 1;
    border: 2px solid #007bff;
  }
  
  .product-info {
    width: 50%;
  }
  
  .product-title {
    font-weight: bold;
  }
  
  .brand {
    font-size: 16px;
    color: gray;
  }
  
  .price-container {
    display: flex;
    gap: 10px;
    font-size: 20px;
  }
  
  
  
  .old-price {
    text-decoration: line-through;
    color: gray;
  }
  
  .quantity-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  .quantity-input {
    width: 50px;
    text-align: center;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  .custom-table {
    // border: 1px solid #DCDCE0;
  }

  .strike-out {
    text-decoration: line-through;
  }
  .price-container {
    color: red;    
  }
  