<div class="page-title">
  <h1>Salary Pay Slip</h1>
  <span class="page-title__info"></span>
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content>
      <div class="row">
        <div class="col-sm-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Month</mat-label>
            <input matInput [matDatepicker]="monthPicker" [(ngModel)]="selectedMonth" readonly>
            <mat-datepicker-toggle matSuffix [for]="monthPicker"></mat-datepicker-toggle>
            <mat-datepicker #monthPicker startView="year" (yearSelected)="chosenYearHandler($event)"
              (monthSelected)="chosenMonthHandler($event, monthPicker)" panelClass="month-picker">
            </mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-2" *ngIf="isAdmin">
          <mat-form-field appearance="outline" class="w-100" (selectionChange)="userRoleChanged()">
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="selectedUserRole">
              <mat-option value="">-Select-</mat-option>
              <mat-option value="Agent">Agent</mat-option>
              <mat-option value="Manager">Manager</mat-option>
            </mat-select>
          </mat-form-field>          
        </div>
       <div class="col-sm-2" *ngIf="selectedUserRole == 'Manager' && isAdmin">
          <mat-form-field appearance="outline" class="w-100" >
            <mat-label>Manager</mat-label>
            <mat-select [(ngModel)]="selectedManagerId" placeholder="Select Manager">
              <ngx-mat-select-search [formControl]="managerFilterCtrl" placeholderLabel="Search here..."
                noEntriesFoundLabel="No matching found">
              </ngx-mat-select-search>
              <mat-option [value]="0">All</mat-option>
              <mat-option *ngFor="let item of filteredManagers" [value]="item.id">
                <span>{{ item.id }} - {{ item.name }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-2" *ngIf="selectedUserRole == 'Agent' || isManager">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Agent</mat-label>
            <mat-select [(ngModel)]="selectedAgentId" placeholder="Select User">
              <ngx-mat-select-search [formControl]="userFilterCtrl" placeholderLabel="Search here..."
                noEntriesFoundLabel="No matching found">
              </ngx-mat-select-search>
              <mat-option [value]="0">All</mat-option>
              <mat-option *ngFor="let item of filteredUsers" [value]="item.id">
                <span>{{ item.id }} - {{ item.name }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 space-between-buttons">
          <button mat-flat-button color="primary" (click)="onFilter()">Submit</button>
          <button mat-flat-button color="primary" (click)="onClear()">Clear</button>
          <button mat-flat-button color="primary" *ngIf="isAdmin" (click)="addTransaction()">Add Salary</button>
        </div>
      </div>
      <p class="info-msg">** Accounts are calculated from 26th to 25th **</p>
      <div *ngIf="salaryDetails.length > 0">
        <h3>Salary Details</h3>
        <div class="table-responsive table-max-scroll example-container">
          <table mat-table [dataSource]="salaryDetails" class="w-100 custom-table">

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element" class="center">{{ element.description }}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="workingDays">
              <th mat-header-cell *matHeaderCellDef class="center">Working Days</th>
              <td mat-cell *matCellDef="let element" class="center">{{ element.noOfDays }}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="salaryRate">
              <th mat-header-cell *matHeaderCellDef class="center">Salary Rate</th>
              <td mat-cell *matCellDef="let element" class="center">£{{ element.salaryRate | number : "1.2-2" }}</td>
              <td mat-footer-cell *matFooterCellDef class="center">Total</td>
            </ng-container>

            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef class="center">Total</th>
              <td mat-cell *matCellDef="let element" class="center">£ {{ element.total | number : "1.2-2" }}</td>
              <td mat-footer-cell *matFooterCellDef class="center">£{{ totalSalary | number : "1.2-2" }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
          </table>
        </div>
      </div>

      <div *ngIf="simCommissionDetails.length > 0">
        <h3>Sim Commission Details</h3>
        <div class="table-responsive table-max-scroll example-container m-t-12">

          <table mat-table [dataSource]="simCommissionDetails" class="w-100 custom-table">

            <ng-container matColumnDef="NetworkName">
              <th mat-header-cell *matHeaderCellDef class="center">Network</th>
              <td mat-cell *matCellDef="let element" class="center">{{ element.networkName }}</td>
              <td mat-footer-cell *matFooterCellDef class="center">Total</td>
            </ng-container>

            <ng-container matColumnDef="ActivationCount">
              <th mat-header-cell *matHeaderCellDef class="center">Activations ({{kpi1Target}})</th>
              <td mat-cell *matCellDef="let element" class="center">{{ element.activationCount }}</td>
              <td mat-footer-cell *matFooterCellDef class="center">{{ totalActivations}}</td>
            </ng-container>

            <ng-container matColumnDef="Rate">
              <th mat-header-cell *matHeaderCellDef class="center">Rate ({{kpi1Percentage | number : "1.2-2"}} %)</th>
              <td mat-cell *matCellDef="let element" class="center">£{{ element.rate | number : "1.2-2" }}</td>
              <td mat-footer-cell *matFooterCellDef class="center"></td>
            </ng-container>

            <ng-container matColumnDef="Total">
              <th mat-header-cell *matHeaderCellDef class="center">Total</th>
              <td mat-cell *matCellDef="let element" class="center">£ {{ element.total | number : "1.2-2" }}</td>
              <td mat-footer-cell *matFooterCellDef class="center">£{{ totalSimCommission | number : "1.2-2" }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns1; sticky: true"></tr>
          </table>
        </div>
      </div>

      <div *ngIf="accessoriesCommisssionDetails.length > 0">
        <h3>Accessories Commission Details</h3>
        <div class="table-responsive table-max-scroll example-container m-t-12">

          <table mat-table [dataSource]="accessoriesCommisssionDetails" class="w-100 custom-table">

            <ng-container matColumnDef="saleType">
              <th mat-header-cell *matHeaderCellDef class="center">Sale Type</th>
              <td mat-cell *matCellDef="let element" class="center">{{ element.saleType }}</td>
              <td mat-footer-cell *matFooterCellDef class="center">Total</td>
            </ng-container>

            <ng-container matColumnDef="totalSale">
              <th mat-header-cell *matHeaderCellDef class="center">Total Sale</th>
              <td mat-cell *matCellDef="let element" class="center">£{{ element.totalSale | number : "1.2-2" }}</td>
              <td mat-footer-cell *matFooterCellDef class="center">£{{ totalSaleAmount | number : "1.2-2" }}</td>
            </ng-container>

            <ng-container matColumnDef="rate">
              <th mat-header-cell *matHeaderCellDef class="center">Rate</th>
              <td mat-cell *matCellDef="let element" class="center">£{{ element.rate | number : "1.2-2" }}</td>
              <td mat-footer-cell *matFooterCellDef class="center"></td>
            </ng-container>

            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef class="center">Total</th>
              <td mat-cell *matCellDef="let element" class="center">£ {{ element.total | number : "1.2-2" }}</td>
              <td mat-footer-cell *matFooterCellDef class="center">£{{ totalAccessoriesCommission | number : "1.2-2" }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns2; sticky: true"></tr>
          </table>
        </div>
      </div>

      <div *ngIf="salaryTransactions.length > 0">
        <h3>Payments</h3>
        <div class="table-responsive table-max-scroll example-container m-t-12">

          <table mat-table [dataSource]="salaryTransactions" class="w-100 custom-table">

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef class="center">Type</th>
              <td mat-cell *matCellDef="let element" class="center">{{ element.type }}</td>
            </ng-container>
            <ng-container matColumnDef="comments">
              <th mat-header-cell *matHeaderCellDef class="center">Comments</th>
              <td mat-cell *matCellDef="let element" class="center">{{ element.comments }}</td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef class="center">Payment Date</th>
              <td mat-cell *matCellDef="let element" class="center">{{ element.createdDate | date: 'dd/MM/yyyy' }}</td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef class="center">Rate</th>
              <td mat-cell *matCellDef="let element" class="center">£{{ element.amount | number : "1.2-2" }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="center"></th>
              <td mat-cell *matCellDef="let element" class="center" >
                <a *ngIf="isAdmin" class="m-r-10 cursor-pointer" (click)="editTransaction(element.userSalaryTransactionID)">
                  <mat-icon>edit</mat-icon>
                </a>
                <a *ngIf="isAdmin" class="m-r-10 cursor-pointer" (click)="deleteTransaction(element.userSalaryTransactionID)">
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
          </table>
        </div>
      </div>

      <div class="col-lg-12 text-center" *ngIf="simCommissionDetails.length > 0">
        <table class="w-100 m-t-12">
          <tr>
            <td class="text-right">Total Salary :</td>
            <td class="text-right">£{{totalSalary | number : "1.2-2"}}</td>
          </tr>
          <tr>
            <td class="text-right">Total Sim Commission :</td>
            <td class="text-right">£{{totalSimCommission | number : "1.2-2"}}</td>
          </tr>
          <tr>
            <td class="text-right">Total Accessories Commission :</td>
            <td class="text-right">£{{totalAccessoriesCommission | number : "1.2-2"}}</td>
          </tr>
          <tr>
            <td class="text-right">Grand Total :</td>
            <td class="text-right">£{{ (totalSalary + totalSimCommission + totalAccessoriesCommission) | number :
              "1.2-2"}}
            </td>
          <tr>
            <td class="text-right">Salary In Advance :</td>
            <td class="text-right">£{{totalSalaryInAdvance | number : "1.2-2" }}</td>
          </tr>
          <tr>
            <td class="text-right">Balance Amount :</td>
            <td class="text-right">£{{ ((totalSalary + totalSimCommission + totalAccessoriesCommission)
              -totalSalaryInAdvance) | number : "1.2-2" }}</td>
          </tr>
        </table>
      </div>

      <div class="zero-records p-b-8" *ngIf="salaryDetails?.length == 0"><img
          src="/assets/images/landingpage/background/no-records.svg" />
        <span>No records found</span>
      </div>

    </mat-card-content>
  </mat-card>
</div>