.digital-card {
  margin-bottom: 3em;
  margin-top: 3em;

  .header img {
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .logo {
    height: 75px;
    max-width: 100%
  }

  .no-padding {
    padding: 0px;
  }

  body {
    background-color: transparent;
    font-family: 'verdana';
  }

  .id-card-holder {
    width: 275px;
    padding: 4px;
    margin: 0 auto;
    background-color: #1f1f1f;
    border-radius: 5px;
    position: relative;
  }

  .id-card-holder:after {
    content: '';
    width: 7px;
    display: block;
    background-color: #0a0a0a;
    height: 100px;
    position: absolute;
    top: 105px;
    border-radius: 0 5px 5px 0;
  }

  .id-card-holder:before {
    content: '';
    width: 7px;
    display: block;
    background-color: #0a0a0a;
    height: 100px;
    position: absolute;
    top: 105px;
    left: 265px;
    border-radius: 5px 0 0 5px;
  }

  .id-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 1.5px 0px #b9b9b9;
  }

  .id-card img {
    margin: 0 auto;
  }

  .header img {
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .photo img {
    width: 80px;
    margin-top: 15px;
  }

  .name {
    color: #ef5350;
    font-weight: bold;
  }

  i {
    color: #ef5350;
    font-weight: bold;
    margin-right: 1em;
    font-size: 12px;
  }

  h2 {
    font-size: 14px;
    margin: 5px 0;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }

  h3 {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
  }


  .qr-code img {
    width: 50px;
  }

  p {
    font-size: 10px;
    margin: 2px;
  }

  .id-card-hook {
    background-color: black;
    width: 70px;
    margin: 0 auto;
    height: 15px;
    border-radius: 5px 5px 0 0;
  }

  .id-card-hook:after {
    content: '';
    background-color: white;
    width: 47px;
    height: 6px;
    display: block;
    margin: 0px auto;
    position: relative;
    top: 6px;
    border-radius: 4px;
  }

  .id-card-tag-strip {
    width: 45px;
    height: 40px;
    background-color: #d9300f;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    top: 9px;
    z-index: 1;
    border: 1px solid #a11a00;
  }

  .id-card-tag-strip:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #a11a00;
    position: relative;
    top: 10px;
  }

  .id-card-tag {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #d9300f;
    margin: -10px auto -30px auto;
  }

  .id-card-tag:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid white;
    margin: -10px auto -30px auto;
    position: relative;
    top: -130px;
    left: -50px;
  }
}