/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif !important;
}

.loading-indicator {
    margin-left: 40%;
}

.footer-row {
    background-color: #FF6347 !important;
}

.footer-cell {
    color: black !important;
    font-weight: bold !important;
}


.table-responsive {
    border: 1px solid #E2E3E5 !important;
    border-radius: 6px;
}

.custom-table {
    width: 100%;
    border-collapse: separate;

    .mat-mdc-header-row,
    .mdc-data-table__row {
        height: auto;
    }

    thead {
        background-color: #FFEFEF !important;
    }

    th {
        padding: 12px 12px !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        border-right: 2px solid #EDEDED !important; // Adjusted to match header
        color: #262A2D;

        &:first-child {
            border-top-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
        }
    }

    td {
        border-right: 2px solid #EDEDED !important; // Adjusted to match theme
        padding: 8px 12px !important;
        font-size: 14px !important;
        color: #262A2D;
    }

    tbody {
        tr:nth-child(even) {
            background-color: #F6F6F6;
        }
    }

    tfoot td {
        padding: 8px 12px !important;
        font-size: 16px !important;
        font-weight: bold !important;
        color: #EF0000;
        box-shadow: 6px 1px 4px 1px #e6cfcf; // lighter shadow to match pink tone
    }

    td a {
        color: #ff6161 !important;
        cursor: pointer;
    }

    .center {
        text-align: center;
    }
}


.table-scroll {
    max-height: 400px !important;
    max-width: 100%;
    overflow: auto;
}

.no-records {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 14px;
    padding: 1em;
    border: 0.1px solid #ccc;
    border-top: none;
}

.zero-records {
    text-align: center;

    img {
        height: 10vh;
    }

    span {
        display: block;
        color: #2a3547;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }
}

mat-card-title {
    color: #FF6347 !important;
}

mat-card-header {
    border-bottom: 1px solid #e5eaef !important;
}

mat-panel-title {
    font-weight: bold !important;
    font-size: 16px !important;
}

.theme-card {
    margin-bottom: 20px !important;
}


.filter-controls {
    mat-form-field {
        margin-right: 1em;
    }
}

.outstanding-metrics {
    margin-bottom: 1em;
}


mat-expansion-panel {
    margin-bottom: 1em !important;
}

.form-grid {
    display: grid !important;
}

.welcome-home {
    height: 100%;
    text-align: center;
    margin-top: 20%;
    color: red;
    font-size: 22px;
}

.space-between-buttons {
    button {
        margin-right: 1em !important;
        margin-bottom: 1em !important;
        top: 10px !important;
    }
}

.align-buttons {
    button {
        top: 10px !important;
    }
}

.sticky-column {
    position: sticky !important;
    left: 0;
    background-color: #fff;
    z-index: 1;
    /* Ensure sticky columns are above other content */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.bonus-info {
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 14px;
    padding: 1em;
    border: 0.1px solid #ccc;
}

.sticky-table {
    width: 100%;
    border-collapse: collapse;
}

.sticky-table thead th {
    position: sticky;
    top: 0;
    /* Stick the header to the top of the container */
    background-color: #FFEFEF !important;
    z-index: 10;
    /* Ensure the header is above the rows */
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.sticky-table tbody td {
    padding: 8px;
    font-size: 12px !important;
}

.custom-snackbar {
    background-color: #4caf50;
    /* Green background */
    color: white;
    /* White text */
    font-size: 16px;
    text-align: center;
}

::ng-deep .mat-snack-bar-container.custom-snackbar {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
    width: auto;
    max-width: 80%;
    text-align: center;
    z-index: 9999;
}

.required,
mat-mdc-form-field-required-marker {
    color: red !important;
    font-weight: bold;
    margin-left: 5px;
}

.float-right {
    float: right;
}

.flex-table {
    display: flex;
}

.mat-header-cell,
.mat-cell {
    flex: 1 1 auto;
    /* Allows flexible resizing */
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mat-mdc-tab-labels {
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    border-radius: 0px;
}

.mat-mdc-tab-body-content {
    overflow: hidden !important;
}

.mat-mdc-card-header {
    padding: 1em 1em 0em 1em !important;
}

.mat-mdc-card-content {
    padding: 1em !important;
}

.rounded-image {
    height: 100px;
    width: 100px;
}

.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    border: 2px solid black;
    margin-bottom: 10px;
}

.required-asterisk {
    color: red;
    margin-left: 2px;
    /* Optional for spacing */
}

.mat-mdc-form-field-required-marker {
    color: red;
    margin-left: 2px;
    /* Optional spacing */
}


//accessoreis styles
.sidebar-title {
    margin-left: 20px !important;
    color: #ffffff;
}

.mat-expansion-panel {
    margin: 0px !important;

}

.product-title {
    width: 100%;
    font-size: 12px !important;
    display: -webkit-box !important;
    /* Enables flexible box layout */
    -webkit-box-orient: vertical;
    /* Specifies the box orientation */
    -webkit-line-clamp: 2;
    /* Limits the text to 2 lines */
    overflow: hidden;
    /* Hides the overflowed text */
    text-overflow: ellipsis;
    height: 50px !important;
    margin-bottom: 0px !important;
    text-align: center !important;
    color: #262A2D;
    line-height: var(--mat-card-title-text-line-height, var(--mat-app-title-large-line-height));
    font-weight: normal;
    /* Adds '...' when text is truncated */
}

.product-container {
    .product-title {
        height: inherit !important;
        color: #EF0000 !important;
    }

    .price-container {
        span {
            color: #EF0000 !important;
        }
    }

    .product-img {
        width: 70% !important;
    }

    .product-info {
        background-color: #f4f4f4;
        padding: 20px 40px;
        border-radius: 6px;
        width: 100% !important;
    }
}

.product-code {
    color: black !important;
    font-size: 12px !important;
    font-weight: bold !important;
    text-align: left !important;
    margin: 0px !important;
    padding-top: 0.5em !important;
    width: 100%;
    font-weight: normal;
}

.sale-price {
    color: #ef0000 !important;
    font-size: 12px !important;
    width: 100%;
    font-weight: bold;
    text-align: left !important;
    margin: 0px !important;
    padding-top: 0.5em !important;
}

.product-image {
    max-height: 200px !important;
    max-width: 200px !important;
}

.item-qty {
    width: 60px !important;
    height: 30px !important;
    background-color: #e7e7e7;
    border: 0;
    border-radius: 4px;
    padding: 0 8px;
}

.icon-custom {
    .mat-icon {
        color: #ffffff;
    }
}

.cart-items-count {
    width: 26px;
    height: 26px;
    background-color: red;
    border-radius: 50%;
    color: white;
    top: -10px;
    right: 10px;
    font-size: 12px;
    position: relative;
    display: inline-block;
}

.m-r-10 {
    margin-right: 10px !important;
}



.productcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center horizontally */
    text-align: center;
    /* Center text */
    padding: 10px !important;
    margin-bottom: 1em !important;
    padding-bottom: 0em !important;
}

.productcard img {
    max-width: 100% !important;
    /* Ensure image is responsive */
    max-height: 175px !important;
    /* Maintain aspect ratio */
    object-fit: contain;
    /* Prevent distortion */
}

.quantity-container {
    padding: 1em;
    align-items: center;
}

.quantity-container button {
    padding-left: 5px;

    &:hover {
        .mat-icon {
            color: #ef0000;
        }
    }
}


.mat-headline-2 {
    text-align: center !important;
}

.text-decoration-line-through {
    text-decoration: line-through !important;
    padding-left: 5px !important;
}

.selling-price {
    text-align: center !important;
}

.cart-btn {
    margin-left: 5em !important;
}

.totals {
    padding-right: 20px !important;

    h5 {
        font-weight: normal;

        span {
            font-weight: 800;
        }
    }

    h3 {
        font-weight: normal;

        span {
            font-weight: 800;
        }
    }
}

.discount {
    color: orange;
}

.modal-header-title {
    border-bottom-style: inset;
}

.modal-header-close-btn {
    float: right;
    margin-top: 1em;
    background: none;
    border: none;
    cursor: pointer;
}

.info-msg {
    background-color: #FFEFEF;
    color: #262A2D;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    padding: 6px 12px;
    margin-top: 0px;
}

/** Custom CSS **/
.mat-drawer {
    &.sidebarNav {
        background-color: #262A2D;
        border-right: 0;
    }
}

html {
    .topbar {
        .mat-mdc-icon-button {
            &.icon-btn {
                border-radius: 4px;
                height: auto;
                padding: 6px 8px;
                width: auto;
                align-items: center;
            }

            &.circle-btn {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                .rounded-circle {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .custom-search {
        height: 35px;

        .mdc-text-field {
            background-color: #000000;
            min-height: 35px;
            border-radius: 6px;

            .mat-mdc-form-field-input-control {
                color: #ffffff;
            }

            input {
                &::placeholder {
                    color: #ffffff !important;
                }
            }
        }

        .mat-mdc-form-field-flex {
            height: 35px;
        }

        .mat-mdc-form-field-infix {
            padding: 8px 0;
        }

        .mat-mdc-form-field-bottom-align {
            display: none;
        }
    }

    .primary-btn {
        background-color: #EF0000 !important;
        color: #ffffff !important;
    }

    .secondary-btn {
        background-color: #262A2D !important;
        color: #ffffff !important;
    }

    .accounts-cards {
        background-color: rgba(#E0E0E0, 0.4);
        border-radius: 6px;

        .mat-mdc-card-content {
            display: flex;
            align-items: center;

            .icon {
                width: 57px;
                height: 57px;
                border-radius: 100%;
                border: 1px solid #EF0000;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-size: 30px;
                    color: #EF0000;
                }
            }

            .info {
                text-align: left;
                margin-left: 20px;

                h2 {
                    font-size: 22px;
                    font-weight: 600;
                    color: #262A2D;
                    margin: 10px 0 0;
                }

                h4 {
                    font-size: 14px;
                    color: #797979;
                    font-weight: 500;
                    margin: 0;
                }
            }
        }
    }

    .cardWithShadow {
        border-top: 2px solid #DCDCE0;
        box-shadow: none;

        mat-card-header {
            border-bottom: 0 !important;
            font-size: 18px;

            .mat-mdc-card-title {
                color: #262A2D !important;
            }
        }
    }
}

.mx-2 {
    margin: 0 10px;
}

.page-title {
    h1 {
        font-size: 18px;
        color: #262A2D;
        font-weight: 600;
        margin: 0;
    }

    &__info {
        font-size: 12px;
        display: inline-block;
        margin: 0px 0;
        line-height: normal;
    }
}

html {
    .ng-custom-fileds {
        .mat-mdc-form-field-bottom-align {
            display: none;
        }
    }
}

.mat-select-panel {
    max-height: 300px;
}


ngx-mat-select-search {
    padding: 4px 8px;
    display: block;
}

::ng-deep .message-popup-dialog .mat-dialog-container {
    padding: 0;
    background: transparent;
    box-shadow: none;
}

/* Optional: Reduce font and spacing on small screens */
@media (max-width: 412px) {

    .mat-mdc-paginator-outer-container {
        width: 100%;
        overflow-x: auto;
        margin-top: 1em;
    }

    .mat-mdc-paginator-range-label {
        margin: 0px !important;
    }
}