<div class="page-title">
    <h1>Bulk Uploads</h1>
    <span class="page-title__info"></span>
    <mat-card class="cardWithShadow theme-card">
        <mat-card-content>
            <div class="row">
                <mat-form-field appearance="outline" class="col-lg-3">
                    <mat-label>Import File Type</mat-label>
                    <mat-select [(ngModel)]="importFileType">
                        <mat-option value=''>--Select--</mat-option>
                        <mat-option value="Stock">Stock</mat-option>
                        <mat-option value="DailyActivation">Daily Activation</mat-option>
                        <mat-option value="TrackNumber">Track Number</mat-option>
                        <mat-option value="OrderStatus">Order Status</mat-option>
                        <mat-option value="Target">Target</mat-option>
                        <mat-option value="ShopCommissionCheque">Commission Cheques</mat-option>
                        <mat-option value="BankChequeWithdraw">Bank Cheques Withdraw</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-lg-3">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="datePicker" [(ngModel)]="selectedDate" />
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                </mat-form-field>
                <div class="col-lg-6 space-between-buttons">
                    <button mat-flat-button color="primary" class="input-file-button">
                        <input id="fileUpload" type="file" accept=".xlsx" (change)="onFileChange($event)" />
                    </button>
                    <button mat-flat-button color="primary" class="green-btn" (click)="uploadFile()">
                        <mat-icon>upload</mat-icon> Upload
                    </button>
                    <button mat-flat-button color="primary" class="download-btn" *ngIf="importFileType === 'Target'"
                        (click)="downloadTargetFile()">
                        <mat-icon>download</mat-icon> Download Targets
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="card">
        <h2>Windows Service Control</h2>
        <p>Status: <b>{{ status }}</b></p>
        <button (click)="startService()">Start</button>
        <button (click)="stopService()">Stop</button>
        <button (click)="refreshStatus()">Refresh</button>
    </div>
</div>