<div class="page-title">
    <h1>{{ productId != null ? 'Edit Product Bundle' : 'Create Product Bundle' }}</h1>
    <span class="page-title__info"></span>

    <form [formGroup]="productForm" (ngSubmit)="onSave()">
        <!-- Section: Basic Details -->
        <mat-card class="cardWithShadow theme-card section-card">
            <mat-card-title class="section-title">Basic Details</mat-card-title>
            <mat-card-content>
                <div class="row">
                    <div class="col-lg-12 d-flex align-items-center m-b-16">
                        <label style="margin-right:1em">Product Image:</label>
                        <img *ngIf="productImagePreview" [src]="productImagePreview" class="rounded-image"
                            alt="Image Preview" />
                        <button mat-flat-button color="primary" class="m-l-16 input-file-button">
                            <input type="file" accept="image/*" (change)="imageUpload($event)" />
                        </button>
                    </div>
                </div>

                <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-6">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="categoryId" (selectionChange)="onCategoryChange($event)">
                            <ngx-mat-select-search [formControl]="categoryFilterCtrl" placeholderLabel="Search here..."
                                noEntriesFoundLabel="No matching found"></ngx-mat-select-search>
                            <mat-option [value]="null">All</mat-option>
                            <mat-option *ngFor="let category of filteredCategories" [value]="category.id">{{
                                category.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-6">
                        <mat-label>Sub-Category</mat-label>
                        <mat-select formControlName="subCategoryId">
                            <ngx-mat-select-search [formControl]="subCategoryFilterCtrl"
                                placeholderLabel="Search here..."
                                noEntriesFoundLabel="No matching found"></ngx-mat-select-search>
                            <mat-option [value]="null">All</mat-option>
                            <mat-option *ngFor="let subCategory of filteredSubCategories" [value]="subCategory.id">{{
                                subCategory.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-6">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="productName" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-6">
                        <mat-label>Code</mat-label>
                        <input matInput formControlName="productCode" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-3">
                        <mat-label>Buying Price</mat-label>
                        <input matInput formControlName="buyingPrice" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-3">
                        <mat-label>Selling Price</mat-label>
                        <input matInput formControlName="sellingPrice" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-3">
                        <mat-label>Commission To Agent</mat-label>
                        <mat-select formControlName="commissionToAgent">
                            <mat-option [value]="null">-Select-</mat-option>
                            <mat-option [value]="2.50">2.5%</mat-option>
                            <mat-option [value]="5.00">5%</mat-option>
                            <mat-option [value]="8.00">Other</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-3">
                        <mat-label>Commission To Manager</mat-label>
                        <mat-select formControlName="commissionToManager">
                            <mat-option [value]="null">-Select-</mat-option>
                            <mat-option [value]="1.50">1.5%</mat-option>
                            <mat-option [value]="2.50">2.5%</mat-option>
                        </mat-select>
                    </mat-form-field>                    

                    <mat-form-field appearance="outline" class="col-lg-3">
                        <mat-label>Display Order</mat-label>
                        <input matInput formControlName="displayOrder" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-12">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" rows="5"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-12">
                        <mat-label>Specification</mat-label>
                        <textarea matInput formControlName="specification" rows="5"></textarea>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-checkbox class="col-lg-2" formControlName="isNewArrival">New Arrival</mat-checkbox>
                    <mat-checkbox class="col-lg-2" formControlName="isOutOfStock">Out of Stock</mat-checkbox>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="col-lg-12">
            <div class="text-right m-10">
                <button mat-flat-button color="primary" (click)="addItemRow()">
                    <mat-icon>add</mat-icon>
                    Add Item</button>
            </div>
            <div class="table-responsive table-max-scroll example-container">

                <!-- INLINE GRID -->
                <table mat-table [dataSource]="bundleItems.controls" class="w-100 custom-table" formArrayName="bundleItems" #table>

                    <!-- Product -->
                    <ng-container matColumnDef="productId">
                        <th mat-header-cell *matHeaderCellDef>Bundle Items</th>

                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Product</mat-label>

                                <mat-select formControlName="productId"
                                    (selectionChange)="onProductSelected($event.value, i)">

                                    <!-- Search -->
                                    <ngx-mat-select-search [formControl]="productFilterCtrls[i]"
                                        placeholderLabel="Search product..." noEntriesFoundLabel="No matching product">
                                    </ngx-mat-select-search>

                                    <mat-option [value]="null">- Select Product -</mat-option>

                                    <mat-option *ngFor="let p of filteredProducts[i]" [value]="p.id">
                                        {{ p.name }}
                                    </mat-option>

                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>



                    <!-- Qty -->
                    <ng-container matColumnDef="qty">
                        <th mat-header-cell *matHeaderCellDef>Qty</th>
                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                            <mat-form-field>
                                <mat-label>Quantity</mat-label>
                                <input matInput type="number" formControlName="quantity">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let row; let i = index">
                            <button mat-icon-button color="warn" type="button" (click)="removeRow(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                </table>
                <div class="zero-records m-b-10">
                    <span>No records found</span>
                </div>
            </div>
        </div>

        <!-- Section: Status and Save -->
        <mat-checkbox appearance="outline" class="w-100" color="warn" formControlName="status">
            Is Active
        </mat-checkbox>
        <div class="m-t-16 text-right">
            <button mat-flat-button color="warn" type="button" class="m-r-10" (click)="onCancel();">Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Save</button>
        </div>
    </form>
</div>